.ar-Dashboard-section-container {
  width: 100%;
  height: 100%;
}
.ar-Dashboard-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 10px 0;
}

.ar-dashboard-payroll {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sm-box {
  border-radius: 0.4rem;
  border: none;
  outline: none;
  background: #acaaaa;
  padding: 8px 10px;
}

.ar-payroll-date {
  font-size: 13px;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  background: #ececec;
  padding: 4px 8px;
}
.ar-dash-head-input {
  display: flex;
  height: 47px;
  background-color: #ffffff;
  padding: 0 3px 0 3px; /*here change for reduce left space ***************/
  gap: 0;
  align-items: center;
  border-radius: 8px;
}

.ar-chart-view {
  background: #ececec;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  background: #ececec;
  padding: 8px;
  cursor: pointer;
  text-wrap: nowrap;
}
.ar-calendar-component2 {
  cursor: pointer;
  text-wrap: nowrap;
}
.ar-line-graph {
  display: flex;
  align-items: center;
  gap: 0.5rem;

}
.ar-filter-line {
  width: 36px !important;
  height: 36px !important;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ar-active-filter-line {
  background-color: #19b87e;
}
.ar-active-filter-line img {
  fill: white;
}
.ar-filter-line img {
  width: 20px;
  height: 20px;
}

.ar-breakdown-container {
  padding-left: 1rem;
  background: #0096d3;
  height: auto;
}

.ar-breakdown-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0 1rem;
  background: #0096d3;
}

.ar-breakdown-img {
  cursor: pointer;
}

.ar-breakdown-table {
  display: block;
  height: 100%;
  overflow: auto;
  white-space: nowrap;
}
.ar-breakdown-table tbody {
  font-weight: 700;
}

.ar-transparent-model-down {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.ar-modal-down {
  background-color: #fefefe;
  border-radius: 16px;
  width: 40%;
  max-width: 900px;
  height: 650px;
  overflow: hidden;
}

.ar-modal-body-down {
  height: calc(100% - 70px);
  overflow-y: auto;
}

.ar-date-button {
  border-radius: 0.4rem;
  border: none;
  outline: none;
  background: #ececec;
  padding: 6px;
  cursor: pointer;
  text-wrap: nowrap;
  color: rgb(52, 64, 84);
  font-size: 12px;
  font-weight: 500;
  line-height: 14.5px;
}

.ar-calender-container {
  position: absolute;
  z-index: 999;
  right: -7%;
  top: 130%;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 0.4rem;
}

.ar-close-calender {
  background: #3d91ff;
  color: white;
  font-size: 12px;
  padding: 4px 15px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  left: 410px;
  bottom: 10px;
  border: none;
}
.ar-reset-calender {
  background: #3d91ff;
  color: white;
  font-size: 12px;
  padding: 4px 15px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  left: 400px;
  bottom: 10px;
  border: none;
}

.ar-white-back {
  background-color: white;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 18px;
}
.support-icon {
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}
.support-icon:hover {
  transform: scale(1.2);
}
