.dropdown {
  position: relative;
  display: flex;
  flex: 1;
}

.dropdownContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.dropdown-button-view {
  display: flex;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  background: #fff;
  align-items: center;
  padding: 0px 10px;
}

.dropdown-button {
  border: none;
  cursor: pointer;
  display: flex;
  flex: 1;
  height: 48px;
  flex-shrink: 0;
  background: #fff;
  align-items: center;
  color: #5a5a5a;
 
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14.5px; /* 103.571% */
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.dropdown-list li {
  padding: 10px;
  cursor: pointer;
  text-align: left;
  color: #5a5a5a;
 
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14.5px; /* 103.571% */
}

.dropdown-list li:hover {
  background-color: #f1f1f1;
}
