.project-main-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.project-container{
    background-color: var(--white-color);
    padding: 16px;
    border-radius: 16px;
}
.project-status-container{
   height: 380px;
}
/* performance css  */
.project-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-heading h2{
    font-size: 20px;
    font-weight: 600;
    color: var(--page-heading-color);
}
.project-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;

}
.project-card{
    padding: 1rem;
    height: 146px;
    border-radius: 12px;
    flex: 1;
}
.project-icon-img{
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    /* padding: 1rem; */
}

.project-card-head{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.project-card-container h2{
    font-size: 16px;
    font-weight: 600;
}
.project-card-body{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 1rem;
}
.project-body-details{
   flex: 1;
    height: 60px;
    background-color: var(--white-color);
    /* padding: 1rem; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    border-radius: 8px;
    flex-direction: column;
    padding-left: 1rem;
}

.project-ruppes-card{
    border: 1px solid var(--border-color);
    /* width: 32%; */
    flex: 1;
    padding: 1rem;
    height: 136px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
}
.project-ruppes-body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.doller-head{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
.doller-head h2{
    font-size: 24px;
    color: var(--coloumn-text-color);
    font-weight: 500;
}
.doller-head p{
    font-size: 12px;
    color: var(--coloumn-text-color);
    font-weight: 500;
}
.percent{
    width: 70px;
    height: 20px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
}
.percent p{
    font-size: 10px;
    font-weight: 600;
}
.percent img{
    width: 12px;
    height: 12px;
}


/* project status css  */

.search-input-container{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.project-status-table{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.project-staus-progress-container{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0 1rem;
}
.project-status-card{
    background-color:#0493CE;
    padding: 1rem;
    height: 44px;
    width: 17%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: flex;
    /* margin-top: .5rem; */
    align-items: center;
    gap: 1rem;
    /* justify-content: center; */
}

.stage-1-para {
    font-size: 12px;
    color: white;
    font-weight: 600;
}
.status-number{
    width: 28px;
    height: 28px;
    background-color: white;
    display: flex;
    align-items: center;
    color: var(--project-icon-color);
    border-radius: 2px;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
}
.dotted-border{
    border-left: 3px dotted #0493CE;
    height:45px;
    position:relative;
    bottom: .1rem;
    margin-left: 1.8rem;
}
.notch-corner{
background-color: #57B93A;
display: flex;
height: 55px;
/* flex: .5; */
align-items: center;
gap: 1rem;
/* flex: 1; */
/* width: 21%; */
border-top-right-radius: 2rem;
border-bottom-right-radius: 2rem;
position: relative;
border-top-left-radius: .5rem;
border-bottom-left-radius: .5rem;
overflow: hidden;
padding: 1rem ;
/* margin-top: .2rem; */
}
.date-para{
    font-size: 12px !important;
    color: white;
    font-weight: normal;
}
.border-notch{
    height: 40px;
    border: 1px solid white;
}
.progress-box-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    /* margin-top: 1rem/; */
}
.progress-box{
    width: 20px;
    height: 20px;
    background-color: #04A5E8;
    border-radius: .25rem;
}
.progress-box-body{
    display: flex;
   gap: .5rem;
   margin-top: 1rem;
    align-items: center;
}
.progress-box-body p{
    font-size: 12px;
}
@media (max-width:1400px) {
    .date-para{
        font-size: 11px
    }
}