.pagination-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}
.pagination{
    display: flex;
    align-content: center;
    gap: 1rem;
    list-style: none;
}
.disabled{
    background-color: var(--border-color);
    cursor: not-allowed;
    border-radius: .25rem;
    padding: .2rem 1rem .2rem 1rem;
}
.current-page{
    border: 1px solid  var(--active-text-color);
   background-color: transparent !important;
    outline: none;
    display: flex;
    align-items: center;
    padding: .2rem 1rem .2rem 1rem;
    border-radius: .25rem;
    color: var(--active-text-color);
    cursor: pointer;
}

.active-page{
    border: 1px solid  var(--active-text-color);
   cursor: pointer;
   /* border: none; */
   background-color: transparent !important;
   border-radius: .25rem;
   outline: none;
   display: flex;
   color: var(--active-text-color);
   cursor: pointer;
   align-items: center;
   padding: .2rem 1rem .2rem 1rem;
}
.current-btn{
    /* background-color:; */
    border: 1px solid  var(--active-text-color);
    outline: none;
    color: white;
    cursor: pointer;
    padding: .2rem 1rem .2rem 1rem;
    border-radius: .25rem;
}