.gridcontainer {
  display: grid;
  grid-template-rows: 50px 1fr;
  height: 80vh;
  border: 1px solid #377cf6;
}

.toprow {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #6f6f6f;
}

.bottomgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.leftdiv {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightdiv {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageSize {
  width: 628px;
  height: 538px;
}

@media only screen and (min-width: 1624px) {
  .imageSize {
    width: 808px;
    height: 710px;
  }
}

.dropdownModal {
  width: 80%;
  padding: 7px;
  font-size: 16px;
  background-color: #eceaea;
}

.formGroup {
  display: flex;
  width: 500px;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

.dropdownModal {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdownContainerModal1Option {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.formGroup1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-left: -31px;
  width: 100%;
}
.formGroup2 {
  display: flex;
  flex-direction: column;
}

.dropdownModal2 {
  width: 85%;
  text-align: right;
  width: 72%;
  padding: 14px;
  font-size: 13.4px;
  border: none;
  background-color: #eceaea;
}
.dropdownModal1 {
  width: 85%;
  text-align: left;
  width: 72%;
  padding: 14px;
  font-size: 13.4px;
  background-color: #eceaea;
  border: none;
}

/* .searchButtonStylemain{
  width: 80%;
  padding: 7px;
  font-size: 16px;
  background-color: #eceaea;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white; 
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}  */

@media (min-width: 276px) and (max-width: 512px) and (min-height: 600px) and (max-height: 1146px) {
  .customer_wrapper_list {
    flex-basis: 100%;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #fff;
    max-width: 346px;
    height: 550px;
  }

  .DetailsMcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 16px;
    border: 1px solid #377cf6;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #eef5ff;
  }
  .main_name {
    font-weight: 600;
    font-size: 18px;
    margin-top: -13px;
    margin-bottom: 3.7%;
    margin-left: -139px;
  }

  .mobileNumber {
    text-align: left;
    margin-left: -139px;
  }
  .addresshead {
    margin-bottom: 3.7%;
    margin-top: -15px;
  }
}
