/* -----------------Vaibhav Start----------------- */

.dashboard {
  /* padding: 24px; */
  background-color: #f3f4f6;
  min-height: 100vh;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

/* .chartGrid {
  display: grid;
  grid-template-columns: 1fr 1fr  1fr !important;
  margin-bottom: 24px;
  background-color: #d1d6de;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  min-height: 200px;
  padding: 20px;
} */

.chartGrid {
  display: grid;
  background-color: white;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  margin-bottom: 24px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.horizontal {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}
.customFont,
.customLeft {
  font-weight: 600;
}
.vertical2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  max-width: auto !important;
}
.vertical1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1.4px solid #ccc;
  padding: 10px;
  padding-left: 0px !important;
  max-width: auto !important;
}

@media (min-width: 0px) {
  .chartGrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .horizontal {
    grid-column: 1 / span 2;
  }
}

@media (min-width: 1441px) {
  .custom3 {
    margin-right: 0px;
    font-weight: 600;
    padding-right: 119px;
    margin-right: 0px;
  }
}

.mainHeader {
  display: grid;
  width: 100%;
  height: 20px;
  margin-right: 0;
  padding-right: 0;
}

.mainHeader > div {
  padding: 0 10px;
}
.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  min-height: 200px;
}
.cardHeaderFirst {
  padding: 18px 16px 16px 16px;
  /* border-bottom: 1px solid #e5e7eb; */
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardHeader {
  padding: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.cardHeaderSecond {
  padding: 10.8px 16px 16px 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -7px;
}

.cardContent {
  padding: 16px;
}

.totalLeads {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 8px;
}

.legend {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin-top: 16px;
}

.legendItem {
  display: flex;
  align-items: center;
}

.legendColor {
  width: 12px;
  height: 6.12px;
  border-radius: 6.12px;
  margin-right: 8px;
}

.legendText {
  font-size: 10.71px;
}

/* Shams */
.monthSelect {
  background-color: #377cf6;
  color: white;
  border-radius: 20px;
  padding: 6px 10px;
  border: none;
  padding-right: 0;
}

.stats {
  margin-top: 16px;
  font-size: 14px;
}

.statItem {
  margin-right: 16px;
}

/* .buttonGroup {
    display: flex;
    gap: 8px;
    width: 70%;
    overflow: scroll;
    flex-wrap: wrap;
  } */
.buttonGroup {
  display: flex;
  padding: 5px;
  gap: 1px;
  width: 71%;
  /* overflow: scroll; */
  flex-wrap: wrap;
  /* box-shadow: inset -3px 0px 5px 2px #0000000d; */
  border-radius: 22px 0 0 22px;
}

.button {
  border: 1px solid #858585 !important;
  color: #858585;
  background-color: #fff;
  padding: 5px;
  border-radius: 26px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  padding-right: 12px;
  height: 36px;
  transition: all 500ms;
}

.button:hover {
  background-color: #ddebff;
}

/* .displayStatus{
  width: 56px;
  line-height: 16px;
  text-align: left;
} */

.status {
  /* background: #fff; */
  border-radius: 50%;
  padding: 4px;
  color: #ffffff;
  width: 30px;
  height: 28px;
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.statusInactive {
  /* background: #dfdfdf !important; */
  color: #929292 !important;
}

.buttonActive {
  background-color: #3b82f6;
  color: white;
  border: unset !important;
}
.buttonActive:hover {
  background-color: #3b82f6;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  text-align: left;
  padding: 11px;
  border-bottom: 1px solid #e5e7eb;
}

.table th {
  font-weight: bold;
}

table tbody tr:hover {
  transition: 0.4s all linear;
  background-color: #377df623;
}

.statusPending {
  color: #f59e0b;
}

.filtericon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background-color: #377cf6;
  cursor: pointer;
  transition: all 0.3s ease;
}
.filtericon:hover {
  background-color: #0153e0;
  transform: scale(1.04);
}
.filtericon img {
  height: 17px;
  width: 22px;
}
.FirstColHead {
  display: flex;

  justify-content: space-between;
  align-items: center;
  width: 35%;
}

/* .customLeft {
  flex: 1;
  text-align: left; 
} */

/* .customRight {
  flex: 1; 
  text-align: right; 
} */
.SecondColHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}
.searchBar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
  height: 36px;
  width: 369px !important;
  margin-right: 20px;
}

.searchIcon {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  color: #000000;
  height: 12px !important;
  width: 12px !important;
}

.searchInput {
  border: none;
  outline: none;
  width: 100%;
  padding: 2.5px;
  border-radius: 5px;
}

.filterCallToAction {
  display: flex;
  transform: scale(0.75);
  position: relative;
  align-items: center;
  /* top: -2pc; */
  /* right: -8px; */
}

.pieChart :focus {
  outline: none;
}

.table {
  width: 100%;
  border-collapse: separate;
  /* border-spacing: 0 16px; */
}

.history_lists {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 16px; */
}
.ScheduleBtnNew {
  width: 103px;
}
.ThreeDotsMinor {
}

.history_list_inner {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1.5fr 1.5fr auto;
  align-items: center;
  padding: 16px;
  gap: 16px;
}

.user_name {
  display: flex;
  flex-direction: column;
}

.user_name h2 {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}

.user_name p {
  font-weight: 500;
  font-size: 12px;
  color: #81a6e7;
  margin: 4px 0 0 0;
}

.phone_number,
.email,
.address {
  font-size: 12px;
  font-weight: 400;
}

.email {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

input[type='checkbox'] {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  border: 1px solid #797979;
  cursor: pointer;
}

input[type='checkbox']:checked {
  background-color: #3b82f6;
  border-color: #3b82f6;
}

.actionButtons {
  display: flex;
  gap: 10px; /* Adds space between buttons */
}

.rescheduleButton {
  background-color: #2979ff; /* Blue color */
  color: white;
  border: none;
  padding: 8px 0;
  width: 140px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.rescheduleButton:hover {
  transform: scale(1.04);
  background-color: #0153e0;
}

.archiveButton {
  background-color: transparent;
  color: #757575; /* Gray color */
  border: 1px solid #757575;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.archiveButton:hover {
  /* background-color: #757575; */
  color: white;
  transform: scale(1.05);
}

.selectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.selectionInfo {
  display: flex;
  align-items: center;
}

.closeIcon {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.closeIcon img {
  cursor: pointer;
  transition: all 0.3s ease;
}
.closeIcon img:hover {
  transform: scale(1.09);
}

.closeIcon:hover {
  background: #377cf630;
  border-radius: 5px;
}

.removeButton {
  background-color: #ee4747;
  color: white;
  border: none;
  padding: 0px 20px;
  border-radius: 8px;
  cursor: pointer;
  width: 135px;
  height: 38px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.removeButton:hover {
  background-color: #ee4747;
  transform: scale(1.05);
}

.paginationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.leadpagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.chevron_down {
  display: none !important;
  height: 24px;
  width: 24px;
  background-color: #eaecf0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.date_parent {
  display: flex;
  gap: 10px;
}

.action_needed_btn {
  width: auto;
}

.tabs_setting {
  padding: 10px 0 0 5px;
}
.FirstColHeadMobile{
  display: none ;
}
.customFontMobile{
  display: none;
}
/* *******************************************RABINDRA DATE 22.10.2024 ************************************************************************* */
@media (max-width: 600px) {
  .chartGrid {
    display: flex;
    flex-direction: column;
    width: 94% !important;
    align-items: center !important;
    margin: 0 auto;
  }

  .vertical1 {
    order: 3;
    border-right: none;
    display: flex;
    flex-direction: column;
    border-top: 1.4px solid #ccc;
  }

  .vertical2 {
    order: 2;
    width: 115% !important;
    left: 0 !important; 
    margin: 0;
    padding-left: 0 !important;
    margin-bottom: 14px;
}
.HideContent{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.ButtonAbovearrov{
  all: unset;
  width: 100%;
}
.customFontMobile{
  font-weight: 600;
}
.upKeys_DownKeysX{
  all: unset;
}
  .horizontal {
    all: unset;
    order: 1;
  }
  .FirstColHead {
    display: none;
  }
  .FirstColHeadMobile{
    width: 100% !important;
    display: flex;
    justify-content: space-between;
  }
  .SecondColHead {
    width: 100%;
  }

}

/* *********************************************** RABINDRA ********************************************************************* */

/* For tablets and larger screens */
@media (min-width: 768px) {
  .tabs_setting {
    padding: 10px 15px;
  }
  .history_list_inner_declined {
    display: grid;
    /* grid-template-columns: 0.5fr 1fr 1fr 2fr 1fr auto !important; */
    grid-template-columns: 35px 1fr 1fr 2fr 1fr auto !important;
    /* place-items: center; */
    align-items: center;
  }
  .chartGrid {
    grid-template-columns: 40% 60%; /* First card 40%, second card 60% */
  }
  .lineCard {
    margin-right: 26px;
  }
  .buttonGroup {
    display: flex;
    gap: 6px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    box-shadow: unset;
  }
  .filterCallToAction {
    display: flex;
    gap: 10px;
    transform: scale(1);
    position: unset;
    padding-left: 10px;
  }
  .mobile_view_table {
    display: flex;
    flex: 1;
  }
}
.ButtonAbovearrov {
}
@media screen and (min-width: 336px) and (max-width: 436px) {
  .date_calendar {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: right !important;
    gap: 4px !important;
  }
}

@media screen and (max-width: 767px) {
  .date_calendar {
    display: flex !important;
    flex-direction: row !important;
    gap: 4px !important;
    /* padding: 17px 16px 17px 35px !important;
    margin: 17px 16px 17px 35px !important; */
  }
  .detailsRowChev {
  }
}

/* Smartphones in both portrait and landscape */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Styles for smartphones */
  .button {
    transform: scale(0.9);
  }
  .phone_number,
  .email,
  .address {
    display: none;
  }
  .history_list_inner_declined {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr !important;
    /* place-items: center; */
    align-items: start;
  }
  .history_list_inner {
    display: grid;
    grid-template-columns: auto 2fr 1fr auto auto !important ;
    align-items: baseline;
  }

  .actionButtons {
    /* transform: scale(0.7) translate(0, -10px); */
    gap: 3px;
  }

  .hist_date {
    font-size: 10px !important;
  }
  .date_parent {
    display: flex;
    gap: 10px;
    transform: scale(0.8);
    margin-right: -15px;
  }
  /* .date_calendar {
    gap: unset !important;
  } */
  .user_name {
    transform: translate(5px, -5px);
  }
}

/* Tablets in both portrait and landscape */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* Styles for tablets */
  .history_list_inner_declined {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 2fr 1fr auto !important;
    /* place-items: center; */
    align-items: center;
  }
}

/* Laptops and small desktops */
@media only screen and (min-width: 767px) and (max-width: 1025px) {
  /* Styles for small desktops */
  /* .history_list_inner_declined {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 2fr 1fr auto !important;
    align-items: center;

  } */
  .chartGrid {
    grid-template-columns: 50% 50%; /* First card 40%, second card 60% */
  }
  .lineChart_div {
    position: relative;
    /* top: 50px; */
    align-items: center;
    justify-content: center;
    /* margin-top: 30px;
      margin-right: 40px; */
    right: 30px;
  }

  .lineChart_legend {
    display: none;
  }

  .hist_date {
    font-weight: 500 !important;
    font-size: 12px !important;
  }

  .date_display {
    position: relative;
  }

  .date_calendar {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: right !important;
    gap: 10px;
  }

  .date_parent {
    display: flex;
    gap: 10px;
  }

  .history_list_inner {
    display: grid;
    grid-template-columns: 0.4fr 2fr 1.5fr 3.5fr 2fr auto !important;
    justify-content: center !important;
    align-items: start !important;
  }

  /* HERE MEDIA SCREEN */
  .leadpagination {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    gap: 50px !important;
  }

  .leftitem,
  .rightitem {
    align-items: flex-start; /* Optional: vertically center the items */
  }
}

/* Large desktops and monitors */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* Styles for large desktops */
}

/* Extra large desktops */
@media only screen and (min-width: 1201px) {
  /* Styles for extra-large screens */
}

/*---------------- Shams Start-------------------- */
.lead__datepicker_wrapper {
  position: relative;
  line-height: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 11;
}
.lead__datepicker_content {
  position: absolute;
  left: 46px;
  z-index: 100;
  background-color: var(--white-color);
  border-radius: 4px;
  border: 1px solid var(--border-color);
  top: 20px;
}

.lead__datepicker_btns {
  display: flex;
  justify-content: center;
  padding: 0.25rem;
  margin-bottom: 1rem;
}

.lead__datepicker_btns button {
  position: static;
}

.lead__datepicker_btns button:first-child {
  margin-right: 0.5rem;
}

.hist_date {
  font-weight: 600;
  font-size: 14px;
  margin-right: 6.2px !important;
  color: #377cf6;
}

.monthSelect {
  /* background-color: #3b82f6; */
  color: white;
  /* border-radius: 20px; */
  padding: 4px 8px;
  border: none;
  font-size: 12px;
  font-weight: 500;
}

.monthSelect option {
  font-weight: 500;
  font-size: 12px;
  transition: all 0.3s ease;
}

.monthSelect :hover {
  border: none;
}

.monthSelect option:hover {
  transform: scale(1.06);
}

.monthSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='20' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 32px;
  padding-left: 15px;
}

.calender {
  background-color: #377cf6;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6px !important;
  cursor: pointer;
  transition: all 500ms ease;
}

.calender:hover {
  transform: scale(1.06);
  background-color: #0b4cbd;
}

.export_btn {
  background-color: #377cf6;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 500ms ease;
}

.export_btn:hover {
  transform: scale(1.06);
  background-color: #0b4cbd;
}

/* @media only screen and (min-width: 1400px)and (max-width: 2561px) {
  .ButtonAbovearrov {
    margin-left: unset;
    margin-left: -252px !important
  }
} */
/* @media only screen and (min-width: 1400px)and (max-width: 250px) {
  .ButtonAbovearrov {
    margin-left: -168px !important
  }
} */
/* margin-left: -105px !important */

.upKeys_DownKeysX {
  transform: rotate(180deg);
  display: flex !important;

  justify-content: center !important;
  align-items: center !important;

  color: #2979ff;
}

.ArrowDX {
  position: relative;
}
.ArrowD {
  position: relative;
}
.upKeys_DownKeys {
  color: #2979ff;

  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.ButtonAbovearrov {
  /* border: 1px solid #377cf6; */
  width: 32px ;
  background-color: #ddebff;
  border-radius: 7px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 500ms ease;
}
.ButtonAbovearrov:hover {
  transform: scale(1.06);
  background-color: #e5e5e5;
  border: none;
}
.date_calendar {
  display: flex;
  flex-direction: row;
  gap: 5px !important;
  align-items: center;
  flex-wrap: wrap;
  justify-content: right !important;
}

/* General style for the month select */
/* General style for the month select */
.monthSelect {
  margin-top: 0;
  border-radius: 8px;
  outline: none;
  color: #3e3e3e;
  width: 140px;
  height: 36px;
  font-size: 12px;
  border: 1px solid #d0d5dd;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px; /* Space for the arrow */
  background-color: #ffffff;
  box-shadow: none;
  position: relative;
  appearance: none;
}

/* Arrow in the dropdown */
.monthSelect::after {
  content: '▼'; /* Down arrow character */
  font-size: 12px;
  color: #3e3e3e;
  position: absolute;
  right: 10px;
  pointer-events: none; /* Prevent interaction with the arrow */
}

/* Border will be none when the dropdown is open */
.monthSelect:focus {
  border: none;
  box-shadow: none;
}

/* Focused state styling for border color when the dropdown is not open */
.monthSelectFocus:focus-within {
  border-color: #377cf6;
  box-shadow: 0 0 0 1px #377cf6;
  caret-color: #3e3e3e;
}

/* Placeholder styling */
.placeholder {
  color: #3e3e3e;
}

/* Option styling */
.option {
  font-size: 13px;
  color: #3e3e3e;
  background-color: #ffffff;
  cursor: pointer;
}

.option:hover {
  background-color: #ddebff;
}

.optionSelected {
  background-color: #ffffff;
}

/* Single value styling */
.singleValue {
  color: #3e3e3e;
}

/* Menu styling */
.menu {
  width: 140px;
  margin-top: 0px;
}

.indicatorSeparator {
  display: none;
}

@media only screen and (max-width: 767px) {
  .cardHeaderSecond span {
    font-size: 14px;
    text-align: left;
  }
  .monthSelect {
    width: 80px;
  }

  .lead__datepicker_content {
    position: absolute;

    left: -140px;
    z-index: 100;
    background-color: var(--white-color);
    border-radius: 4px;
    border: 1px solid var(--border-color);
    top: 57px;
  }
  .rescheduleButton {
    width: 120px;
    font-size: 12px;
  }
  .archiveButton {
    background-color: transparent;
    color: #757575; /* Gray color */
    border: 1px solid #757575;
    padding: 2px 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .chevron_down {
    display: block !important;
    height: 24px !important;
    width: 24px !important;
    /* transform: translate(-20px, 13px); */
    background-color: #eaecf0;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 5px;
  }

  .cardContent {
    padding: 10px 10px 18px 0px;
  }

  .legend {
    padding-left: 16px;
  }
}

@media screen and (max-width: 767px) {
  .leadpagination {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
    padding-left: 16px;
  }
}

.project_list {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr;
  align-items: center;
  padding: 16px;
  gap: 16px;
}
