.h_screen {
  min-height: 100vh;
}

.customer_wrapper_list {
  /* flex-basis: 100%; */
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding-top: 15px;
  padding-inline: 20px;
}

.history_list {
  margin-top: 10px;
  padding: 10px 16px 10px 16px;
}

.history_lists {
  padding-top: 16px;
  border-bottom: 1px solid #000;
  padding-bottom: 18px;
}

.history_list_inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
}

.email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

.user_name {
  display: flex;
  flex-direction: column;
}

.user_name h2 {
  font-weight: 600;
  font-size: 16px;
}

.user_name p {
  font-weight: 500;
  font-size: 12px;
  color: #81a6e7;
}

.phone_number {
  font-size: 12px;
  font-weight: 400;
}

.email p {
  font-size: 12px;
  font-weight: 400;
}

.address {
  font-size: 12px;
  font-weight: 400;
}

.see_more {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  cursor: pointer;
}

.see_more p {
  color: #377cf6;
  font-size: 12px;
  font-weight: 400;
  transition: all 500ms ease;
}

.see_more p:hover {
  transform: scale(1.06);
}

.see_more p:hover img {
  transform: scale(1.06);
}

.history_list_activity {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid #377cf6;
  border-radius: 6px;
  margin-top: 20px;
  padding: 22px 0px 20px 0px;

}

.history_list_activity_det {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle_with_line {
  position: relative;
  padding-bottom: 10px;
}

.circle {
  position: absolute;
  /* top: 50%; */
  right: 0;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #292929;
}

.line {
  right: 22px;
  position: absolute;
  transform: translateY(-50%);
  width: 11vw;
  height: 1px;
  background-color: #929292;
}

.line1 {
  right: 22px;
  position: absolute;
  transform: translateY(-50%);
  width: 6vw;
  height: 1px;
  background-color: #929292;
}

.activity_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.act_head {
  font-size: 12px;
  font-weight: 500;
}

.act_date {
  font-size: 12px;
  font-weight: 400;
}

.calender {
  background-color: #377cf6;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 500ms ease;
}

.calender:hover {
  transform: scale(1.06);
  background-color: #0b4cbd;
}

.lm_history_header {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
}

.lm_history_header h1 {
  font-size: 20px;
  font-weight: 600;
}

.hist_ret img {
  cursor: pointer;
  transition: all 0.3s ease;
}

.hist_ret img:hover {
  transform: scale(1.09);
}

.history_list_head {
  color: #3E3E3E;
  font-weight: 600;
  font-size: 16px;
  margin-top: -10px;
}

.lead_his_remove {
  width: 135px;
  height: 38px;
  background-color: #EE4747;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.lead_his_remove:hover {
  transform: scale(1.04);
  background-color: #f21010;
}

.hist_checkbox_count {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

.hist_checkbox_count h1 {
  font-weight: 600;
  font-size: 18px;
}

.hist_date {
  font-weight: 600;
  font-size: 14px;
  color: #377CF6;
}

.hist_checkbox_count img {
  transition: all 0.3s ease;
}

.hist_checkbox_count img:hover {
  transform: scale(1.1);
}

.lm_history_details {
  display: flex;
  justify-content: space-between;
}

.hist_checkname {
  display: flex;
  align-items: center;
  gap: 18px;
}


@media screen and (max-width: 767px) {
  .h_screen {
    display: flex;
    align-items: center;

  }

  .customer_wrapper_list {
    margin-left: 4px;

    min-height: 100vh;
  }

  .history_list {
    margin-top: 10px;
    padding: 10px 2px 10px 2px;
  }

  .hist_checkname {
    gap: 12px;
  }

  .history_list_activity_mob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #377cf6;
    border-radius: 6px;
    margin-top: 20px;
    gap: 29px;
    padding: 22px 0px 20px 60px;
  }

  .history_list_activity_det {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .history_list_head {
    margin-left: -9px;
  }

  .circle_mob {
    position: absolute;
    top: 60%;
    right: 0;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #292929;
  }

  .line_mob {
    position: absolute;
    top: 0;
    /* Position the line vertically at the center of the circle */
    right: 7px;
    /* Adjust the horizontal position to align with the circle */
    transform: translateY(-50%) rotate(90deg);
    /* Rotate the line 90 degrees clockwise */
    transform-origin: right center;
    /* Set the transform origin to the right center of the line */
    width: 11vw;
    height: 1.3px;
    background-color: #929292;
  }

  .personal_info_mob {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 14px;
    padding-left: 17px;
    gap: 4px;
  }

  .lm_history_header {
    padding: 0px 4px;
  }
  .filters{
    gap: 4px;
  }
  .hist_checkbox_count h1 {
    font-size: 16px;
  }

  .lead_his_remove {
    width: 114px;
    height: 32px;
    font-size: 14px;
    font-weight: 500;
  }
  .hist_date{
    font-weight: 500;
    font-size: 12px;
  }

}