.container {
  background-image: url("../../../resources/assets/background.png");
  background-position: center;
  width: 100%;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  /* position: relative; */
  display: flex;
  flex: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9));
}

.loginBox {
  background-color: transparent;
  display: flex;
  flex: 1.5;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 4;
}

#loginNormalText {
  color: white;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  text-align: center;
  margin-left: 24%;
  margin-right: 24%;
}

#loginNormalText1 {
    color: white;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
}

#loginColorText {
  color: var(--Secondary-Green, #8fcd00);
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
}

.loginBox2 {
  background: transparent;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  z-index: 4;
}

.loginTextView {
  background-color: yellow;

  border-radius: 16px;
  background: #fff;
  /* display: flex;
  flex: 1; */

  width: 450px;
  height: 500px;
  flex-shrink: 0;
  padding-top: 4%;
}

.hrLine {
    margin-top: 10px;
    width: 36%;
    height: 0;
    border: 0.5px white solid;
}


.loginNormalTextDescription {
    color: white;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 5;
    word-wrap: break-word
}

.loginHeader {
    color: black;
    font-size: 28px;
    font-family: 'Poppins';
    font-weight: bold;
    word-wrap: break-word
}

.loginSubtitle {
    color: #444444;
    font-size: 8;
    font-family: 'Poppins';
    font-weight: '300';
    word-wrap: 'break-word'
}


.loginSubtitleColor {
    color: #0493CE;
    font-size: 8;
    font-family: 'Poppins';
    font-weight: '300';
    word-wrap: 'break-word'
}

.inputField {
    background-color: transparent;
    width: 84%;
    height: 6%;
    border: 1px #D9D9D9 solid;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    background: #FFF;
}


.loginButton {
    width: 400px;
    height: 48px;
    flex-shrink: 0;
    background-color: #0493CE;
    border-radius: 8px;
    border-color: transparent;
    color: white;
}

.pwd {
    display: flex;
    flex: 1;
    align-items: space-around;
}

.labelPwd {
    color: #D93F21;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}
