.header-width {
  width: calc(100% - 240px);
  flex-grow: 1;
}

.header-content {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  background-color: var(--white-color);
  position: sticky;
  border-bottom: 1px solid #f0f0f0;
  top: 0;
  z-index: 101;
  padding-right: 2rem;
}

.header-scrolled {
  box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.1);
}

.header-logo {
  align-self: center;
}

.header-icon {
  display: flex;
}

.header-logo object {
  width: 162px;
  height: 44px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  transition: transform 0.3s ease;
}

.search-container:hover {
  /* background-color: #363636; */
  transform: scale(1.02);
}

.search-input-field {
  width: 50%;
}

.search-icon-img {
  display: flex;
  align-items: center;
  border: 1px solid var(--input-border-color);
  background-color: #dbdbdb;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  padding-left: 0.5rem;
  height: 2.5rem;
}

.search-input {
  background-color: #dbdbdb !important;
  padding: 0.5rem !important;
  outline: none;
  font-size: 1rem;
}

.user-container {
  margin-right: 17.3px;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  
}

.down-arrow {
  align-items: center;
  gap: 0.5rem;
}

.down-circle {
  width: 1.7rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
}

.header-modal {
  position: absolute;
  background-color: white;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50);
  top: 100%;
  width: 18%;
  left: 62%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.header-modal-1 {
  position: absolute;
  background-color: white;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50);
  top: 53px;
  width: 245px;
  right: 0;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.image-box-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
  width: 100%;
  padding: 10px;
}

.image-box-container:hover {
  background-color: var(--children-bg-color);
}

.image-box-container p {
  font-size: 14px;
}

.select-head p {
  font-size: 16px;
  font-weight: 500;
}

.image-icon {
  width: 16px;
  height: 16px;
  border-radius: 0.25rem;
  display: flex;

  align-items: center;
  justify-content: center;
}

.app-btn {
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  margin-bottom: 0.3rem;
}

.app-btn img {
  width: 24px;
  height: 24px;
}

.notification img {
  width: 24px;
  height: 24px;
}

.user-img-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #cccccc;
  border-radius: 25px;
  padding: 5px 7px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.user-img-container:hover {
  background-color: #DDEBFF;
  transform: scale(1.02);
}

.user-img {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #363636;
  color: #fff;
}

.user-name {
  flex-direction: 'row';
  display: flex;
  gap: 1rem;
}

.user-name h4 {
  font-size: 12px;
  font-weight: 500;
}

.admin-p {
  color: var(--primary-color);
}

.user-name p {
  font-size: 10px;
  font-weight: 600;
}

.menu-icon {
  cursor: pointer;
}

.icon {
  font-size: 2rem;
}

@media (max-width: 1024px) {
  .side-bar-active {
    left: auto;
    transition: 0.4s all linear;
  }

  .header-content {
    padding-right: 0;
    height: 54px;
  }

  .header-modal-1 {
    top: 47px;
    width: 235px;
  }

  .user-img-container {
    padding: 3px 6px;
    gap: 0.8rem;
  }

  .user-name {
    gap: 0.5rem;
  }

  .header-logo {
    margin-left: 6px !important;
  }
}

@media (max-width: 768px) {
  .header-logo {
    margin-left: 20px !important;
  }

  .menu-icon {
    display: block;
  }

  .children-container {
    width: 100%;
  }

  .header-width {
    width: 100%;
    flex-grow: 1;
  }

  .header-content {
    width: 100%;
  }

  .children-container {
    width: 100%;
  }

  .search-input-field {
    display: none;
  }

  .app-btn {
    display: none;
  }

  .notification {
    display: none;
  }
}

.header-modal-mob {
  position: absolute;
  background-color: white;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50);
  top: 44.5px;
  width: 145px;
  right: 0;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  z-index: 999999999 !important;
}

@media screen and (max-width: 767px) {
  .header-logo {
    align-self: flex-start;
  }

  .header-logo object {
    margin-top: 16px;
    margin-left: -12px;
    width: 120px;
    height: auto;
  }
}