.side-header {
  display: flex;
}

.side-bar-container {
  width: 240px;
  background-color: var(--white-color);
  display: flex;
  position: fixed;
  top: 0;
  height: 100vh;
  flex-direction: column;
  /* gap: 1rem; */
  overflow-y: scroll !important;
  scroll-behavior: unset;
  scrollbar-width: 0;
  /* border: 1px solid red; */
}

 
.side-bar-active {
  width: 50px;
  transition: 0.4s all linear;
  transition: 0.4s ease-out;
}

.hover-children:hover{
  font-weight: 500;
  color: #23B364;
  transition: 0.5s all;


}


.hover-childrenn:hover{
  font-weight: 500;
  color: #23B364;
  transition: 0.5s all;


}
 
 
.hover-children{
  color: #23B364;
}

.hover-childrenn {
  color: black;
}

.children-container{
  background-color: var(--children-bg-color);
  padding: 0.5rem 2rem;
  flex: 1;
  overflow-y: auto;
  max-height: calc(100vh - 64px);
  scroll-behavior: smooth;
}
.children-container::-webkit-scrollbar {
  width: 10px; 
  height: auto; 
}
.children-container::-webkit-scrollbar {
  display: initial
}   

.children-container::-webkit-scrollbar-thumb {
  background-color: rgb(173, 173, 173);
  border-radius: 30px; 
}
.children-container::-webkit-scrollbar-button {
  display: initial; 
}
.children-container::-webkit-scrollbar {
  -ms-overflow-style: initial; 
  scrollbar-width: thin;
}
.children-container::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* sidebar style  */
.side-bar-logo {
  /* background-color: var(--side-logo-bg-color); */
  padding: 1rem 2rem;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  border: 1px solid #f3f3f3;
}
.side-bar-logo-active {
  transition: 0.4s all linear;
  padding: 20px 4px;
  /* padding: .7rem 1rem .8rem 0.8rem; */
}
.side-bar-logo img {
  width: 31px;
  height: 31px;
}

.side-bar-logo h3 {
  color: var(--primary-text-color);
  font-weight: 600;
  font-size: 16px;
}

.side-bar-content {
  display: flex;
  flex-direction: column;
  /* margin: 1rem 1rem 1rem 2rem; */
}

.side-bar-content-active {
  /* margin: 1rem; */
  transition: 0.4s all linear;
}
.heading-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
.icon-shape {
  background-color: #e1f5ea;
  width: 16px;
  height: 40px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;

 border-radius: 10px 0px 0px 10px;
}

.tablink {
  color: #23B364  !important;
  font-weight: normal;
  font-size: 13px !important;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
}


.tablinkk {
  color: #101828  !important;
  font-weight: normal;
  font-size: 13px !important;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
}

.heading {
  color: #a5aab2;
  font-size: 14px;
  font-weight: 500;
  padding-left: 1.5rem;
  /* padding-bottom: 1rem; */
  text-transform: uppercase;
}
.side-accordian {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  border-radius: 7px;
}

.side-accordian:hover{
  background-color: 
  #E1F5EA;
}

.side-icon-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* margin-top: 1rem; */
  cursor: pointer;
  padding: 0.7rem 1.2rem 0.7rem 1.5rem;
  border-radius: 7px;
  /* justify-content: space-between; */
}

.side-icon-container:hover{
  background: #E1F5EA;
}

.sidebar-small{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* margin-top: 1rem; */
  cursor: pointer;
  padding: 0.7rem 1.2rem 0.7rem 1.5rem;
   
}

 

.hover-item {
  display: none;
}
.side-icon-container-1 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
   
}
.side-accordian-item {
  display: flex;
  flex-direction: column;
  /* border-radius: 1rem; */
  
  border-bottom: 1px solid var(--table-border-color);
  max-height: 400px;
  /* margin: 1rem; */
  overflow-y: auto;
}


/* .side-accordian-item:hover{
  background-color: #E1F5EA;
} */

.active-side {
  color: var(--active-text-color);
  font-weight: 600 !important;
}
.active-link-bg {
  /* border-right: 2px solid var(--active-text-color); */
 
  background-color: #E1F5EA;
  color:#23B364 ;
  ;
  
}
.active-link {
  color: #0069a3 !important;
}

.sidebaricon{
  color: #23B364;
}

.sidebariconn{
  color: black;
}


