.dropdown-checkbox {
  min-width: 143px;
  border-radius: 8px;
}

.dropdown-checkbox .dropdown-toggle {
  width: 100%;
  padding: 7px 1rem;
  border: 1px solid #dfd8d8;
  font-weight: 600;
  height: auto;
  transition: all 0.3s ease;
}

.dropdown-checkbox .dropdown-toggle span {
  color: #377cf6;
}
.dropdown-checkbox .dropdown-toggle svg {
  color: #377cf6;
}
.dropdown-toggle.disabled-dropdown {
  background-color: #eeecec;
  cursor: not-allowed;
}

span.disbaled-label {
  color: #c2c1c1;
}

.disabled-checkbox {
  border: 1px solid #eeecec !important;
  cursor: not-allowed;
}
.disabled-checkbox::before {
  background-color: #eeecec !important;
}

.dropdown-toggle.disabled-dropdown span {
  /*disable color  */
  color: #c2c1c1;
}
.dropdown-toggle.disabled-dropdown svg {
  color: #c2c1c1;
}
.dropdown-checkbox .dropdown-menu {
  right: 0;
  left: auto;
  width: 100%;
}

.dropdown-checkbox .dropdown-menu .input {
  width: 100%;
}
.dropdown-checkbox .dropdown-toggle:not(.disabled-dropdown):hover {
  background-color: #ddebff;
  border-color: #377cf6;
  transform: scale(1.07);
  transition: all 0.3s ease;
}
