.mainContainer {
  margin: -19px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.layoutContainer {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 370px;
  padding: 1.2rem;
}

.contentContainer {
  padding-top: 1.2rem;
  width: 100%;
  margin-left: 1.2rem;
  height: calc(100vh - 94px);
  overflow-y: scroll;
}


/* Scrollbar  */
.contentContainer::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.contentContainer::-webkit-scrollbar {
  display: initial;
}

.contentContainer::-webkit-scrollbar-thumb {
  background-color: rgb(173, 173, 173);
  border-radius: 30px;
}

.contentContainer::-webkit-scrollbar-button {
  display: initial;
}

.contentContainer::-webkit-scrollbar {
  -ms-overflow-style: initial;
  scrollbar-width: thin;
}

.contentContainer::-webkit-scrollbar-corner {
  background-color: transparent;
}

.closedSideBar{
  padding:1.2rem;
}


.mobileSideContainer{
  padding:2rem 2.5rem 0rem 2.5rem;
  /* max-height: 665px; */
  height: fit-content;
}


@media (max-width: 480px) {

  .contentContainer::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
  }
  .mainContainer{
    margin:0;
  }
  .mobileSideContainer{
    padding:20px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap:0.8rem;
  }
  .contentContainer{
    margin: 0;
    padding:20px 20px 0 20px;
  }
  .iconContainer{
    padding:0.6rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

  }
}