.mainContainer {
  margin: -19px;
  display: flex;
  flex-direction: column;
}

.layoutContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.sidebar {
  width: 300px;
  padding: 1.2rem;
}

.contentContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
