.appContainer {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    gap: 20px;
    overflow-y: scroll;
  }

  
  
  .sidebar {
    width: 25%;
    background-color: #f5f5f5;
    padding: 10px;
    
  }
  
  .sidebarItem {
    padding: 13px;
    margin-bottom: 18px;
    cursor: pointer;
    border-radius: 18px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease;
  }
  
  .categoryDescription {
    font-weight: 500px;
    font-size: 12px;
    line-height: 18px;
    color: #565656;
  }

  .categoryName{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }
  .sidebarItem:hover {
    background-color: #007bff;
    color: white;
  }
  .categoryDescription:hover{
    color: white;
  }
  
  .sidebarItemActive {
    background-color: #007bff;
    color: white !important;
  }

  .sidebarActiveDescription{
    color: white;
  }
  
  .notesPanel {
    flex: 1;
    display: flex;
    width: 727px;
    flex-direction: column;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 28px;
  }
  
  .notes {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .note {
    background-color: #FAFAFF;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .addNote {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  