.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafaff;
  padding: 8px;
  border-radius: 50px;
  /* transition: background-color 0.3s ease; */
  transition: all 0.3s ease;
  cursor: pointer;
  /* margin-right: 1.2rem; */
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}

.titleContainer p {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

.container {
  width: 100%;
  /* height: calc(100vh - 218px);
  overflow-y: scroll; */
}

.headingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headingIcon {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.activeState {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #377cf6;
  color: white;
  padding: 17px;
  border-radius: 50px;
  font-size: 11px;
  font-weight: 500;
  line-height: 16.5px;
  cursor: pointer;
  max-width: 30px;
  max-height: 30px;
}

.wordContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafaff;
  color: #2a2626;
  padding: 17px;
  border-radius: 50px;
  font-size: 11px;
  font-weight: 500;
  line-height: 16.5px;
  cursor: pointer;
  transition: all 0.3s ease;
  max-width: 30px;
  max-height: 30px;
}

.wordContainer:hover {
  background-color: #d5e4ff;
  transform: scale(1.05);
}

.iconContainer:hover {
  background-color: #d5e4ff;
  transform: scale(1.05);
}

.iconContainer:active {
  background-color: #377cf6;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #377cf6;
  color: #fff;
  padding: 8px;
  border-radius: 50px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.headingContainer p {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}
.stateContainer {
  display: flex;
  gap: 10px;
}

.carouselContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.flexContainer {
  display: flex;
  gap: 1.2rem;
  border-radius: 18px;
  margin-right: 1.2rem;
  /* height: calc(100vh - 216px);
  overflow-y: scroll; */
}

.boxOne {
  flex: 0 0 60%;
  /* max-height: 70vh; */
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  border-radius: 18px;
}

.boxTwo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.boxTwoWrap {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* max-height: 70vh;
    overflow: scroll; */
}

.selectedContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.selectedLabel {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #565656;
}

.selectedContent {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #2a2626;
}

.pvContainer {
  border: 1px solid #d9d9d9;
  border-radius: 18px;
  padding: 15px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pvHeading {
}

.leftWrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  padding: 20px 25px 0px 25px;
  border-radius: 18px;
  gap: 20px;
  margin-bottom: 20px;
}

.endContainerOne {
  flex: 0 0 50%;
  background-color: #fafaff;
  padding: 20px 25px;
  border-radius: 18px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 15px;
}

.endContainertwo {
  flex: 0 0 50%;
  background-color: #fafaff;
  padding: 20px 25px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* height: fit-content; */
}

.endContainertwo p {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.endContainerWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}
.spacingWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}

.attachmentContainer,
.rackingContainer,
.roofStructure {
  padding: 20px;
  border-radius: 18px;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.attachmentHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.attachmentHeader p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2a2626;
}
.attachmentSelectDIv {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 12px;
  /* row-gap: 10px; */
}

.uploadImage {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 9px 30px 20px 30px;
  border-radius: 14px;
  background-color: #ffffff;
  width: 100%; */

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  padding: 48px 20px;
  border-radius: 18px;
  background-color: #ffffff;
  width: 100%;
}

.uploadImageSingle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 9px 30px 20px 30px;
  border-radius: 14px;
  background-color: #ffffff;
  width: 100%;
}

.uploadImageWithImages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  padding: 9px 30px 20px 30px;
  border-radius: 14px;
  background-color: #ffffff;
  width: 100%;
}
.UploadIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #d9d9d9;
  font-size: 30px;
  padding: 12px;
  border-radius: 8px;
}

.UploadHeading {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2a2626;
}

.UploadParagraph {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #7f7f7f;
}

.hardwareWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 15px;
}

.UploadIconContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 50px;
}
.previewImage {
  height: 70px;
  width: 70px;
  border-radius: 6px;
}

.removeImageButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  padding: 1px;
  border-radius: 50px;
  position: relative;
  left: 30px;
  top: 15px;
  border: none;
  cursor: pointer;
}

.stackCount {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 3px 5px 3px 4px;
  border-radius: 50px;
  position: absolute;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
}

.imagePreviewContainer {
  display: flex;
  gap: 18px;
  margin-right: 20px;
}

.imagePreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
}

.buttonContainer {
  display: flex;
  gap: 5px;
}

.imageView {
  color: #377cf6;
  text-decoration: underline;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.imageViewer {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 60vw;
  background: white;
  padding: 10px;
  border-radius: 30px;
}

.imageViewer img {
  /* max-width: 100%;
  max-height: 100%; */
  border-radius: 18px;
  /* object-fit: contain; */
}

.imageViewerContainer {
}

.UploadIconThumbnail:hover{
  color: black;
    transform: scale(1.05);
    background-color: #d5e4ff;
} 
.UploadIcon:hover {
  color: #fff;
  transform: scale(1.05);
  background-color: #d5e4ff;
}

/* code for Scroll bar */

.container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.container::-webkit-scrollbar {
  display: initial;
}

.container::-webkit-scrollbar-thumb {
  background-color: rgb(173, 173, 173);
  border-radius: 30px;
}

.container::-webkit-scrollbar-button {
  display: initial;
}

.container::-webkit-scrollbar {
  -ms-overflow-style: initial;
  scrollbar-width: thin;
}

.container::-webkit-scrollbar-corner {
  background-color: transparent;
}

.uploadImageThree {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  padding: 6px 20px 20px 20px;
  border-radius: 18px;
  background-color: #ffffff;
  width: 100%;
}

.uploadImageTwo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  padding: 6px 20px 20px 20px;
  border-radius: 18px;
  background-color: #ffffff;
  width: 100%;
}

.microLoaderContainer {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.structuralGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  column-gap: 15px;
  row-gap: 15px;
  margin-top: 15px;
}

.structuralGridLast {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 15px;
}

.dashed {
  border-right: 1px dashed #dadaff;
}

.selectAllContainer {
  position: absolute;
  top: 18px;
  left: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.currentlyViewedThumbnail {
  border: 3px solid white !important;
  /* border: 4px solid white!important; */
  /* border-radius: 4px; */
}

.activeThumbnail {
  /* border: 4px solid white; */
  /* border-radius: 4px; */
}

@media (max-width: 480px) {
  .structuralGrid {
    grid-template-columns: repeat(1, 1fr);
  }
  .hardwareWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .structuralGridLast {
    grid-template-columns: repeat(1, 1fr);
  }
  .endContainerWrapper {
    grid-template-columns: repeat(1, 1fr);
    /* margin: 0px 20px; */
  }
  .spacingWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .flexContainer {
    flex-direction: column;
    margin-right: 0px;
  }
  .leftWrapper {
    /* margin: 20px; */
    padding-bottom: 20px;
  }
  .boxTwoWrap {
    /* margin: 0px 20px; */
  }
  .uploadImage {
    margin-bottom: 20px;
  }
  .pvContainer {
    padding-bottom: 20px;
  }
}

.infoStateContainer {
  padding: 0.4rem 0.5rem;
  background-color: #377cf6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 24px;
  position: relative;
  transition: all 0.6s;
}
.infoStateContainer_currentState {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #f3f0f9;
  text-transform: uppercase;
}
.dropDownForInfoStates {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0.4rem;
  padding: 0.5rem 0.8rem;
  background-color: #fff;
  top: 3rem;
  box-shadow: 2px 3px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  right: 0;
  max-height: 218px;
  overflow-y: scroll;
}
.infoStateOption {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  padding: 0.5rem 1.2rem;
}

@media (max-width: 1024px) {
  .endContainerWrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .leftWrapper {
    gap: 10px;
    margin-bottom: 10px;
  }
  .endContainerWrapper {
    gap: 10px;
  }
  .boxTwoWrap {
    gap: 10px;
  }
  .endContainerOne {
    column-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0px;
  }
  .endContainertwo {
    gap: 10px;
  }
  .structuralGridLast {
    gap: 10px;
  }
  .structuralGrid {
    row-gap: 10px;
  }
  .hardwareWrapper {
    gap: 10px;
  }
}

.imageViewerContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  gap: 10px;
}

/* .imageViewer {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  background: white;
  padding: 20px;
  border-radius: 8px;
} */

.viewerImage {
  max-width: 100%;
  max-height: calc(90vh - 120px);
  object-fit: contain;
}

.imageViewerButton {
  background: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
  font-size: 15px;
}

.imageViewerButtons {
  position: absolute;
  top: 18px;
  right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.thumbnailsRow {
  display: flex;
  align-items: center;
  gap: 10px;
  /* overflow-x: auto; */
  padding: 10px 0;
  /* margin-top: 20px; */
  justify-content: center;
  width: 100%;
}

.thumbnail {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  border: 2px solid transparent;
}

.thumbnail img.activeThumbnail {
  border-color: #007bff;
}

.thumbnailRemoveButton {
  /* position: absolute;
  top: -8px;
  right: -8px;
  background: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
  font-size: 12px;
  z-index: 1;
  transition: transform 0.2s ease; */

  position: absolute;
  top: -4px;
  right: -3px;
  background: white;
  border: none;
  /* border-radius: 15%; */
  width: 15px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #377cf6;
  font-size: 16px;
  z-index: 1;
  transition: transform 0.2s ease;
}

.deselectContainer{
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.deselectText{
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.selectAllButton{
  font-weight: 500;
  font-size: 14px;
  color: #292929;
  background-color: #fff;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
}

.iconContainerDisabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.removeImageButton,
.thumbnailRemoveButton:hover {
  transform: scale(1.05);
}

.removeImageButton,
.imageViewerButton {
  transition: all 0.3s ease;
}

.imageViewerButton :hover {
  transform: scale(1.05);
}

.UploadIconThumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #d9d9d9;
  font-size: 30px;
  padding: 8px;
  border-radius: 8px;
  color: #fff;
}

@media (min-width: 480px) and (max-width: 540px) {
  .flexContainer {
    flex-direction: column;
  }
}

@media (min-width: 480px) and (max-width: 1025px) {
  .uploadImage{
    padding: 63px 20px;
  }
}
@media (min-width: 480px) and (max-width: 840px) {
  .flexContainer {
    margin-right: 0;
    padding: 0 0.8rem 0.8rem 0.8rem;
  }
  .UploadIconContent{
    margin-right: 0px;
  }
  .uploadImage{
    padding: 52px 20px;  }
}
