.Dashboard-section-container {
 width: 100%;
 height: 87vh;
}
.Dashboard-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.Dashboard-wel h6 {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #393851;
}
.Dashboard-wel h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #263747;
  margin-bottom: -10px;
}
.commission-section-dash {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  flex-wrap: wrap;

}
.total-commisstion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 16px;
  padding: 1.2rem;
  width: 32.3%;
  height: 110px;
}

.total-section h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #263747;
}
.total-section p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #747782;
}
.teamImg {
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 0.5rem;
  border-radius: 50%;
}
.teamImg img {
  margin-top: 5px;
  width: 34px;
  height: 34px;
  /* padding: 1px 2.83px 0.67px 2.83px;  */
}
.dashboard-payroll {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.Payroll-section {
  display: flex;
  /* width: 240px; */
  height: 36px;
  background-color: white;
 padding: 0 6px 0 12px;

  gap: 0.5rem;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
}
.dash-select{
  background-color: #ECECEC;
  border: none;
  outline: none;
  padding: .1rem .5rem .1rem .5rem;
  font-size: 12px;
  cursor: pointer;
  color: #344054 !important;
  font-weight: 500;
  border-radius: .25rem;
}
.line-graph {
  display: flex;
  align-items: center;
  /* margin-top: 0.4rem; */
  gap: .5rem;
  /* align-content: center;
  justify-content: center; */
}
.filter-line {
 width: 36px !important;
 height: 36px !important;
 border-radius: .5rem;
 cursor: pointer;
 background-color: white;
 display: flex;
 align-items: center;
 justify-content: center;
}
.active-filter-line{
  background-color: #263747;
}
.active-filter-line img{
  fill: white;
}
.filter-line img{
 width:20px;
 height: 20px;

}
