.delete-icon-container {
  display: flex;
  gap: 1rem;
}

.user-page-heading-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.875rem 1rem 1.875rem;
  background-color: white;
}

button.trash-btn {
  background-color: #377cf6;
  width: 32px;
  height: 32px;
}

.user_user-type {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 400px) {
  .user_user-type {
    flex-direction: column;
  }
}
