.pro-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .pro-dropdown-toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 32px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #AFAFAF;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .pro-dropdown-toggle:hover{
    border: 2px solid #377CF6;
  }
  
  .pro-dropdown-menu {
    position: absolute;
    top: 103%;
    right: 1px;
    z-index: 1;
    width: 170px;
    background-color: #fff;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .pro-dropdown-option span{
    font-size: 12px;
    color: #377CF6;
    font-weight: 500;
  }
  
  .pro-dropdown-option {
    padding: 8px;
    gap: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
  }
  
  .pro-dropdown-option:hover {
    background-color: #ddebff;
  }

  
  .pro-dropdown-buttons {
    display: none;
    gap: 5px;
    transition: all 0.3s ease;
  }

  .pro-dropdown-option:hover .pro-dropdown-buttons{
    display: flex;
  }

  .pro-dropdown-buttons button:hover{
    background-color: #ffffff;
    border-radius: 4px;
  }
  
  .pro-dropdown-buttons button {
    color: #377CF6;
    font-size: 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: all 0.3s ease;
  }
  
  .pro-dropdown-buttons .button-link svg {
    width: 18px;
    height: 18px;
    fill: #007bff;
  }
  
  .pro-dropdown-buttons .button-link:hover svg {
    fill: #0056b3;
  }
  
  .pro-dropdown-buttons .button-external-link svg {
    width: 22px;
    height: 14px;
    fill: #007bff;
  }
  
  .pro-dropdown-buttons .button-external-link:hover svg {
    fill: #0056b3;
  }


  .pro-dropdown-toggle svg {
    margin-top: 5px;
    height: 30px;
    width: 28px;
    fill: #333;
  }
  
  .pro-dropdown-toggle:hover svg {
    fill: #000;
  }

  .createQualCust{
    margin-top: 30px;
    padding-left: 36px;
    padding-right: 46px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .qc-modal-body {
  
    height: calc(100% - 150px); /* Adjust the height for the body content */
    overflow-y: auto;
  }

  .qc-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .qc-stat-comp{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }
  .qc-stat-comp img{
    width: 24px;
    height: 25px;
  }