.qc-modal {
  background-color: #fefefe;
  border-radius: 16px;
  width: 100%;
  max-width: 720px;
  height: 450px;
  overflow: hidden;
}

.ntp-modal {
  background-color: #fefefe;
  border-radius: 16px;
  width: 100%;
  max-width: 720px;
  height: 700px;
  overflow: hidden;
}

.qchead-section {
  border: 1px solid #d0d5dd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 28px;
  padding-right: 6px;
}
 
 .createQualCust{
    margin-top: 26px;
    padding-left: 36px;
    padding-right: 46px;
    display: flex;
    flex-direction: column;
    gap: 37px;
  }

  .qc-modal-body {
    height: 100%; /* Adjust the height for the body content */
    overflow-y: auto;
  }

  .qc-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .qc-content span{
    font-weight: 500;
    font-size: 14px;
  }
  .qc-stat-comp {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: left;
   
  }
  .qc-stat-comp img{
    width: 24px;
    height: 25px;
  }
  .qc-status{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .qc-status img{
    width: 12px;
    height: 8px;
  }

  .status.completed {
    color: #2EAF71;
  }
  
  .status.pending {
    color: #EBA900;
  }

  .status.action{
    color: #E14514;
  }