@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}
/* color config */
:root {
  --sidebar-bg-color: white;
  --children-bg-color: #f3f3f3;
  --side-logo-bg-color: #263747;
  --primary-text-color: white;
  --secondary-text-color: #565656;
  --active-text-color: #04a5e8;
  --input-border-color: #d5d5d5;
  --black-color: #0d0d0d;
  --danger-color: #d93f21;
  --check-color: #2196f3;
  --green-color: #8fcd00;
  --table-border-color: #eaecf0;
  --coloumn-text-color: #667085;
  --button-border-color: #979797;
  --para-color: #393851;
}
a {
  text-decoration: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
li {
  list-style: none;
}
/* image icon srtyle  */
.icon-image {
  width: 18x !important;
  height: 18px !important;
}

/* circle style  */
.ellipse {
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.user-btn {
  background-color: #04a5e8;
  outline: none;
  border: none;
  font-size: 0.85rem;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.dashboard-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-dashboard {
  background-color: white !important;
  border-radius: 1rem;
  padding: 1rem;
}
.admin-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: white;
  height: 178px;
  /* padding: 1rem; */
  border-radius: 1.5rem;
  margin-top: 0.5rem;
}
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
::-webkit-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* modal style  */
.transparent-model {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /*background-color: rgba(0, 0, 0, 0.9);*/
  display: flex;
  justify-content: center;
  z-index: 11;
  align-items: center;
}
.sales-modal {
  width: 400px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.filter-modal {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 900px;
  width: 100%;
  height: 560px;
  /* overflow-y: auto; */
  display: flex;
  flex-direction: column;
  position: relative;

}

.modal {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 900px;
  width: 80%;
   height: 560px;
   /* overflow: hidden; */
   position: relative;
  display: flex;

  flex-direction: column;

}
.modal-content{
  flex-grow: 1;
  position: relative;
  /* z-index: 14; */
  overflow-y: auto;
}
.scroll-content{
  height: 100%;
  /* max-height: 500px; */
  overflow-y: auto;
}
.createUserCrossButton {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px 10px 0 0px;
  cursor: pointer;
}
.createUserContainer {
  /* flex-shrink: 0; */
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  flex-grow: 1;
}
.scroll-content{
  overflow-y: auto;
  height: 100% !important;

}
.createProfileText {
  font-size: 24px;
  margin-left: 36px;
  font-weight: 600;
}
.createProfileTextView {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* height: 100%; */

  padding: 0 36px 0px 36px;
}
select{
  font-size: 13px !important;
}
.createProfileInputView {
  margin-top: 1rem;
  /* max-height: 400px; */
  /* overflow-y: scroll; */
}
.create-input-container {
  display: flex;
  gap: 20px;
  /* justify-content: space-between; */
}
.createUserActionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d0d5dd;
  margin-top: 32px;
  padding: 24px 0 24px 0;
  gap: 1rem;
  width: 100%;
 
  /* background: white; */
  /* z-index: 13; */

}
.rate-input-container {
  display: flex;
  width: 31.5%;
  justify-content: space-between;
}
.start-input-container {
  display: flex;
  width: 65.5%;
  justify-content: space-between;
}
.rate-input-field {
  width: 48.5%;
}
.create-input-field {
  width: 31.5%;
}
.radio-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  /* justify-content: space-between; */
}
.radio-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.3rem;
  /* width: 23%; */
}
.radio {
  cursor: pointer;
  width: 30px !important;
  height: 30px;
}
.create-input-field-note {
  width: 100%;
}
.create-input-field-note textarea {
  width: 100%;
  border: 1px solid #d0d5dd;
  outline: none;
  padding: 0.5rem;
  font-size: 13px !important;
  border-radius: 0.5rem;
  font-size: 1rem;
}
.check-box {
  width: 20px !important;
  height: 20px !important;
  background-color: var(--border-color);
}

/* <-----------------Filter css---------------------> */
.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0rem 0;

  /* padding: "1rem 2rem 0rem 2rem"; */
}
.apply p {
  font-size: 16px;
  font-weight: 600;
  line-height: 14.5px;
  text-align: left;
}
.cross-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.6rem;
  cursor: pointer;
}
.cross-btn img {
  width: 24px;
  height: 24px;
}
