@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-size: 12px; */
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
/* image icon srtyle  */
.icon-image{
  width: 17px;
  height: 17px;
}
.user-btn{
  background-color: #04A5E8;
  outline: none;
  border: none;
  font-size: .85rem;
  color: white;
  padding: .5rem;
  cursor: pointer;
  border-radius: .5rem;
}
.dashboard-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.admin-dashboard{
  background-color: white !important;
  border-radius: 1rem;
  padding: 1rem;
}
.admin-card-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: white;
  height: 178px;
  /* padding: 1rem; */
  border-radius: 1.5rem;
  margin-top: .5rem;
}
/* .admin-card-content{
  background-color: #F1E6FF !important;
  height: 110px;
  width: 25%;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0 1rem 0 1rem;
} */


.admin-card-content, .bubble {
  position: relative;
  width: 25%;
  height:110px;
  background-color: #F1E6FF;
  border-radius: 1rem;
  /* overflow: hidden; */
}
.admin-card-container.accountcol{ height: auto;}

.bubble::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-top-color: #F1E6FF;
  border-bottom: 0;
  margin-left:6rem;
  margin-bottom: -13px;
}

/* modal style  */
.transparent-model {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  /*background-color: rgba(0, 0, 0, 0.9);*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 900px;
}

.createUserCrossButton{
  display: flex;
  align-items:flex-end;
  justify-content: flex-end;
  padding: 10px 10px 0 0px;
  cursor: pointer;

}
.createUserContainer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

}
.createProfileText{
  font-size: 28px;
  margin-left: 39px;
  font-weight:600;
}
.createProfileTextView{
  display: flex;
  flex-direction: column;
  gap: 20px;
   padding: 0 39px 0px 39px;
}
.createProfileInputView{
  margin-top: 2rem;
  
}
.create-input-container{
  display: flex;
  gap: 20px;
  /* justify-content: space-between; */
}
.createUserActionButton{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d0d5dd;
  margin-top: 32px;
  padding:24px 0 24px 0;
}
.create-input-field{
  width: 31.5%;
}