@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.user-btn{
  background-color: #04A5E8;
  outline: none;
  border: none;
  font-size: .85rem;
  color: white;
  padding: .5rem;
  cursor: pointer;
  border-radius: .5rem;
}
.dashboard-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.admin-dashboard{
  background-color: white !important;
}
.admin-card-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: white;
  height: 178px;
  padding: 1rem;
  border-radius: 1.5rem;
  margin-top: .5rem;
}
.admin-card-content{
  background-color: #F1E6FF !important;
  height: 110px;
  width: 25%;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0 1rem 0 1rem;
}


