.comm {
  background: #f3f3f3;
  width: 100%;
  /* height: 80vh; */
  border-radius: 1rem;
}

.commissionContainer {
  background-color: white;
  justify-content: space-between;
  border-radius: 1rem;
  overflow: hidden;

}

.commissionSection {
  display: flex;
  align-items: center;
  padding:1rem;
  justify-content: space-between;
  border-bottom: 1px solid #EAECF0;
}

.iconContainer {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
.rateSection{
  display: flex;
  gap: .3rem;
  flex-direction: column;
}
.rateSection h2 {
  font-size: 18px;
}

.iconsSection {
  display: flex;
  align-items: center;
}

.iconsSection button {
  display: flex;
  align-items: center;
  font-size: 1rem;
  border: none;
  color: #344054;
  font-weight: 500;
  background-color: white;
  gap: .5rem;
}

.iconsSection2 {
  display: flex;
  border: none;
}

.iconsSection2 button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: none;
  background-color: white;
  padding: .5rem;
  border: 1px solid #D0D5DD;
  font-size: 1rem;
  border-radius: 8px;
  font-weight: 600;
  color: #344054;
  cursor: pointer;
}
/* table style  */
  table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    
  }
 
   table thead tr {
    border-bottom: 1px solid #EAECF0;
    background-color: #F5F5F5;
    border-left: 1px solid white;
    border-right: 1px solid white;
  }
  table thead tr th{
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: .8rem 1rem .8rem 1rem;
    /* line-height: 18px; */
  
  }
  .table-header{
    display: flex;
    align-items: center;
    gap: .3rem;
  }
  table tbody tr {
    border-bottom: 1px solid #EAECF0;
  }
  table tbody tr td{
    padding: .8rem 1rem .8rem 1rem;
    font-size: 14px;
  }
  table tbody tr:last-child{
    border: 0;
  }
  .check-box{
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 6px;

  }
  .action-icon{
    display: flex;
    align-items: center;
    gap: 1rem;
  }