
  table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    
  }
   table thead tr {
    border-bottom: 1px solid #EAECF0;
  }
  table thead tr th{
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: .8rem 1rem .8rem 1rem;
    /* line-height: 18px; */
  
  }
  .table-header{
    display: flex;
    align-items: center;
    gap: .3rem;
  }
  table tbody tr {
    border-bottom: 1px solid #EAECF0;
  }
  table tbody tr td{
    padding: .8rem 1rem .8rem 1rem;
    font-size: 14px;
  }
  table tbody tr:last-child{
    border: 0;
  }
  .check-box{
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 6px;

  }
  .action-icon{
    display: flex;
    align-items: center;
    gap: 1rem;
  }