.comm {
  background: #f3f3f3;
  width: 100%;
  height: 87.5vh;
  border-radius: 1rem;
  position: relative;
}

.export-modal {
  background-color: var(--check-color);
  width: 8%;
  position: absolute;
  z-index: 10;
  transform: translate(-50%, -50%);
  left: 84.5%;
  padding: 1rem;
  top: 20%;

  height: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.commissionContainer {
  background-color: white;
  justify-content: space-between;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid #eaecf0;
}

.commissionSection {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  /* border-bottom: 1px solid #eaecf0; */
}

.iconContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.rateSection {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
}

.rateSection h2 {
  font-size: 18px !important;
  font-weight: 600;
}

.iconsSection2 {
  display: flex;
  border: none;
}

.iconsSection2 img {
  width: 18px;
  height: 18px;
}

.iconsSection2 button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--primary-text-color);
  padding: 0.4rem 1rem 0.4rem 1rem;
  border: 1px solid #d0d5dd;
  font-size: 13px;
  border-radius: 8px;
  font-weight: 500;
  color: #344054;
  cursor: pointer;
}

.iconsSection2 .hover-btn:hover {
  background-color: var(--active-text-color) !important;
  border: 1px solid var(--active-text-color) !important;
  color: white !important;
  transition: .4s all linear;
}

.iconsSection-filter button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: none;
  background-color: var(--primary-text-color);
  padding: 0.5rem;
  border: 1px solid #d0d5dd;
  font-size: 13px;
  border-radius: 8px;
  font-weight: 500;
  color: #344054;
  cursor: pointer;
}

/* table style  */
.TableContainer {
  overflow-x: auto;
  position: relative;
  height: 60vh;

}

.UserManageTable {
  overflow-x: auto;
  position: relative;
  background: #fff;
  height: 50vh;
}

.adder-input {
  border: 1px solid var(--button-border-color);
  width: 40px;
  height: 24px;
  padding: 0.2rem;
  border-radius: 0.5rem;
}

table {
  width: 100%;
  background-color: var(--primary-text-color);
  border-collapse: collapse;
  overflow: hidden;
  position: relative;
  /* border-top-left-radius: 1rem;
  border-top-right-radius: 1rem; */
}

table tbody {
  width: 100%;
}

table thead tr {
  border-bottom: 1px solid var(--table-border-color);
  background-color: #f6f6f6;
}

table thead tr th {
  text-align: left;
  font-size: 13px;
  font-weight: 500;

  padding: 0.8rem 1rem 0.8rem 1rem;
  /* line-height: 18px; */
}

/* table thead tr th:last-child{
  position: fixed;
  transform: translate(-50,-50%);
  top: 0;
  left: 50%;
  right: 0;
} */

.table-header {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}

table tbody tr {
  border-bottom: 1px solid var(--table-border-color);
}

table tbody tr td {
  padding: 0.8rem 1rem 0.8rem 1rem;
  font-size: 12px;
  width: auto;
  color: #101828;
}


.selected {
  /* background-color: var(--input-border-color); */
  background-color: #fafafa;
  transition: 0.4s all linear;
}

.action-header {
  display: flex;
  align-items: center;
  gap: .3rem;
  justify-content: flex-end;

}

.action-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
}

.action-icon img {
  width: 14px;
  height: 14px;
  /* object-fit: cover; */
}

.arrow-icon-table {
  color: #667085 !important;
  font-size: 12px !important;
}

.page-heading-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  /* border-top: 1px solid var(--table-border-color); */
}

.page-heading {
  color: #000000;
  font-size: 12px;
}

/* checkbox design  */