.newfile_container {
  position: relative;
  display: inline-block;
}
 
.newfile_botton{
  width: 74px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #AFAFAF;
  color:#8C8C8C;
  background-color:#FFFFFF ;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  font-family: 'Poppins';
}

.newfile_botton:hover{
  border: 1px solid #377CF6;
  background-color: #EFF5FF;
  color:#377CF6 ;
} 
.newfilelibrary_uploadbutton_container{
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 37px;
  border-radius: 6px;
  right: 0px;
  
}
.newfilelibrary_uploadbutton{
  cursor: pointer;
  width: 104px;
  height: 32px;
  border-radius: 4px;
  border: none;  
  background-color: #FFFFFF;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  border: 1px solid #8C8C8C;
  
}
.newfilelibrary_uploadbutton:hover{
  border: 1px solid #377CF6;
  background-color: #D6E5FF;
}
