.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  .db-access-disable{
    opacity: .3;
    cursor: not-allowed;
  }
  .selected-fields-onboard{
    position: static !important;
    display: block;
    margin-bottom: -15px;
  }

  .character-count {
    margin-top: 1px;
    font-size: 12px;
    color: #888;
  }
  
  .character-count.exceeded {
    color: red;
  }
  .um-createUserActionButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0 24px 0;
    gap: 1rem;
  }