.folderMain_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;

  background-color: #ffffff;
  padding: 0px 24px;
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
  min-height: 60vh;
}

.folderDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.folderDiv:hover .charDiv {
  background-color: #377cf6;
}

.folderIcon_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #f2f2f2;
  width: 108px;
  margin-top: 15px;
  padding: 8px 22px;
  border-radius: 8px;
}

.charDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #afafaf;
  width: fit-content;
  padding: 0px 6px;
  border-radius: 50%;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  position: relative;
  right: 15px;
}
.folderIcon_wrapper img {
  width: 56px;
  height: 45px;
  position: relative;
  left: 3px;
}

.folderInput {
  height: 15px !important;
  width: 15px !important;
  border: 0.5px solid rgba(175, 175, 175, 0.5) !important;
  border-radius: 8px !important;
  cursor: pointer;
  position: relative;
  left: 14px;
  background-color: #afafaf;
  visibility: hidden;
}
.folderDiv:hover .folderInput {
  visibility: visible;
}

.visible {
  visibility: visible !important;
}

.folderContent_wrapper {
  margin-top: 5px;
  width: 108px;
}

.folder_name {
  font-family: 'poppins';
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
.folderInfo_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.foldersize {
  font-family: 'poppins';
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  color: #929292;
}
.folderdate {
  font-family: 'poppins';
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  color: #929292;
}

.quantity {
  font-size: 12px;
  position: relative;
  bottom: 31px;
  left: 12px;
  color: #bb8617;
  font-weight: 500;
}

.checkboxWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.createdBy {
  font-family: 'poppins' sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #929292;
}

.createdByName {
  font-family: 'poppins' sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.createdByWrapper {
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  right: 14px;
  top: 11px;
  visibility: hidden;
}

.folderDiv:hover .createdByWrapper {
  visibility: visible;
}
