.pieChart-section h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-align: left;
  color: var(--page-heading-color);
}

.text-dark {
  color: var(--page-heading-color);
}

.recharts-layer {
  outline: none !important;
}

.chart-view {
  display: flex;
  gap: 1.2rem;
}
.mask-chart-img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 180px;
  pointer-events: none;
  z-index: 10;
}
.onboarding-mask-img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 175px;
  left: 41%;
  z-index: 10;
}
.onboarding-pie {
  position: relative;
}
.pie-circle-denote {
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 50%;
}
.pie-section {
  width: 50%;
}

.recharts-tooltip-wrapper {
  z-index: 50;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5px 20px;
  background-color: #fff;
  border-radius: 24px;
}

.recharts-tooltip-wrapper .pie-tooltip {
  padding: 0 !important;
  border: 0 !important;
}
.stats-wrapper{
  gap: 20px;
}

.pie-chart-container{
  height: 300px !important;
}


@media screen and (min-width: 1025px) and (max-width: 1400px) {
  .pie-section {
    width: 100%;
  } 
  .chart-view {
    flex-direction: column;
  }
}
@media (max-width: 1024px) {

  .pie-chart-container{
    height: 200px !important;
  }
  .stats-wrapper {
    flex-direction: column;
    width: fit-content;
    gap: 8px;
    align-items: baseline !important;
    margin-inline: auto;
  }

  .stats-wrapper > *{
    font-size: 12px  !important;
  }

  .stats-wrapper > h3{
    font-size: 12px  !important;
  }
  .pie-section{
    width: 60%;
  } 

  .onboarding-mask-img{
    width: 124px;
  }
  .mask-chart-img {
    width: 124px;
  }
 
}
