.pieChart-section h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-align: left;
  color: var(--page-heading-color);
}

.text-dark{
  color: var(--page-heading-color);
}

.recharts-layer {
  outline: none !important;
}

.chart-view {
  display: flex;
  gap: 1.2rem;
}
.mask-chart-img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 180px;
  pointer-events: none;
}
.onboarding-mask-img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 175px;
  left: 41%;
}
.onboarding-pie {
  position: relative;
}
.pie-circle-denote{
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.pie-section{
  min-height: 421px;
}