/* Calendar.css */
.calendar {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: #333;
}

.icon {
  cursor: pointer;
  font-size: 24px;
  padding: 5px;
  transition: all 0.3s ease;
}

.icon:hover {
  background-color: #f0f0f0;
  border-radius: 50%;
}

.days {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  color: #333;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}

.body {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-around;
}

.cell {
  flex: 1;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 120px;
  display: flex;
  flex-direction: column;
  
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  background-color: white;
  position: relative;
  width: 200px;
}

.cell.selected {
  border: 2px solid #2684FF;
  background-color: #E6F4FF;
}

.cell .number {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #333;

}

.non-month .number{
  color: grey;
}
.event-box {
 
  padding: 3px 5px;
  border-radius: 12px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-box .event-icon {
  width: 20px;
  height: 20px;

  
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 5px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}
.event-box + .event-box {
  margin-top: 4px;
}

/* Event colors */
.event-red {
  background-color: #e74c3c;
}

.event-green {
  background-color: #2ecc71;
}

.event-blue {
  background-color: #3498db;
}



.cell:hover {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .cell {
      height: 80px;
  }

  .icon {
      font-size: 20px;
  }

  .header {
      font-size: 16px;
  }
}
