.leaderboard-category-container {
  background-color: #f6f6f8;
  border-radius: 4px;
  overflow: hidden !important;
}
.leaderboard-category {
  padding: 7px 18px;
  font-size: 12px;
  cursor: pointer;
  transition: all 500ms;
}

.leaderboard-category.category-active {
  background-color: #ee824d;
  color: #fff;
  transition: all 500ms;
}

.leaderboard-table thead tr {
  position: sticky;
  top: 0;
  z-index: 1;
}
.leaderboard-table thead tr th {
  background-color: #f5f9ff;
}
.leaderboard-table thead tr th:first-child {
  border-top-left-radius: 12px;
}

.leaderboard-table thead tr th:last-child {
  border-top-right-radius: 12px;
}
.leaderboard-table thead tr th {
  font-size: 14px;
  font-weight: 600;
  padding-block: 0;
  padding-left: 3rem;
}
.leaderboard-table tbody tr td {
  padding-left: 3rem;
}
.leaderboard-table-container {
  /* border-radius: 12px; */
  /* overflow: hidden; */
  position: relative;
  overflow-x: auto;
  border: 1px solid #d8e7ff;
  border-radius: 12px;
}

.leaderboard-table tbody tr {
  padding-block: 2rem;
  vertical-align: middle;
  border-bottom: 1px solid #d8e7ff;
}
.leaderboard-table {
  overflow: auto;
  white-space: nowrap;
}
.table-wrapper {
  height: 500px !important;
}

.leaderboard-table tbody tr:last-child {
  border: none;
}

.leaderboard-table-container {
  z-index: 10;
}

.leaderboard-table tbody tr td {
  font-size: 12px;
  font-weight: 500;
}
.leaderbord-tab-container {
  margin-block: 4px;
}
.leaderbord-tab-container .tab {
  padding-block: 8px;
  padding-inline: 24px;
  margin: 0;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  transition: all 500ms;
}

.leaderbord-tab-container .tab.activehead {
  background-color: #ee824d;
  color: #fff;
  transition: all 500ms;
}
.pointer {
  cursor: pointer;
}

.user-profile-sidebar-fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(42, 42, 42, 0.7);
  z-index: 100;
  overflow-y: auto;
}
.back-icon {
  top: 80px;
}

.user-profile-sidebar-fixed .user-sidebar {
  width: 408px;
  min-height: 100vh;
  overflow-y: auto;
  background: linear-gradient(
    to bottom,
    rgba(0, 148, 205, 1) 30%,
    rgba(255, 255, 255, 100%)
  );
  padding-inline: 22px;
  padding-top: 128px;
}

.user-profile {
  background-color: #fff;
  padding-top: 30px;
  border-radius: 12px;
  padding-bottom: 26px;
  padding-inline: 32px;
}
.user-card {
  padding-left: 5px;
  padding-right: 17px;
  padding-top: 15px;
  border: 1px solid #ffbc0f;
  padding-bottom: 27px;
  border-radius: 12px;
}
.user-name-wrapper {
  border-bottom: 1px dashed #adadad;
  padding-bottom: 16px;
}

.user-card .card-label {
  color: #a3a3a3;
  font-size: 10px;
}

.user-card .card-value {
  font-size: #434343;
  font-weight: 500;
  font-size: 14px;
}
.user-profile .stats-labels {
  font-size: 11px;
  color: #6d6d6d;
  display: block;
}

.grey-weekly-stats {
  border-radius: 8px;
  padding: 10px 13px;
  background-color: #f1f1f1;
  margin-top: 30px;
}

.grey-weekly-stats span {
  font-size: 12px;
  font-weight: 500;
}

.grey-weekly-stats .leader-board-stats-wrapper {
  padding-inline: 21px;
  border-radius: 8px;
}

.leader-stats-share-btn {
  border: none;
  background-color: #9ccb3b;
  color: #fff;
  padding-block: 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
  width: 100%;
}

.leaderborad-export-btn {
  border: 1px solid #ee824d;
  background-color: #fff;
  padding: 6px 11px;
  font-size: 12px;
  border-radius: 4px;
  color: #ee824d;
}
