.management-section {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.manage-user p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--para-color);
}
.manage-user h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: var(--side-logo-bg-color);
}
.user-new-button {
  display: flex;
  align-items: center;
}
.user-new-button button {
  border: none;
  background-color: var(--active-text-color);
  color: var(--primary-text-color);
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 1rem;
}
.add {
  font-size: 20px;
}
.ManagerUser-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-top: 1.5rem;
  border-radius: 16px 16px 0px 0px;
  padding: 1rem;
}
.admin-user{
  width: 20%;
}
.admin-user p{
  font-family: Poppins;
font-size: 18px;
font-weight: 600;
line-height: 28px;
text-align: left;

}

/* .rate-input-field select {
  width: Fixed (180px)px;
height: Fixed (36px)px;
padding: 6px 16px 6px 6px;
gap: 46px;
border-radius: 8px;
border: 1px 0px 0px 0px;
opacity: 0px;

} */

.delete-icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  width: 70%;
}
.iconsSection-delete {
  margin-left: 1rem;
  background: #344054;

}
.iconsSection-delete h4 {

font-size: 14px;
font-weight: 500;
line-height: 20px;
text-align: left;

}

.iconsSection-delete button {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  color: #344054;
  background: white;
}
