.management-section {
    margin-bottom: 1rem;
  }
  .management-section p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.03em;
    text-align: left;
    color: var(--para-color);
  }
  .management-section h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: var(--side-logo-bg-color);
  }
  .user-component {
      display: flex;
      gap: 2rem;
  }
  .barchart-section {
    margin-top: 2rem;
  }
  .user-manager-section {
 
    width: 400px;
    height: 149px;
    left: 4px;
    gap: 0px;
    border-radius: 16px;
    opacity: 0px;
    background-color: var(--primary-text-color);
    align-items: center;
    text-align: center;
  }
  .addIcon {
      padding: 1rem;
      text-align: center;
  }
  
  .addIcon img {
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
  }
  .addIcon h3 {
      padding: 0.3rem;
    font-size: 14px;
    font-weight: 400;
    color: var(--check-color);
  cursor: pointer;
  }
  .addIcon p {
    padding: 0.2rem;
  font-size: 16px;
  font-weight: 600;
  line-height: 12px;
  color:var(--check-color);
  cursor: pointer;
  }
  .BarChart-Container {
    background-color: var(--primary-text-color);
    padding: 2rem;
    border-radius: 8px;
}
.BarChart-Container h2 {
    color: var(--side-logo-bg-color);

}