.management-section {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.manage-user p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--para-color);
}
.manage-user h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: var(--side-logo-bg-color);
}
.user-new-button {
  display: flex;
  align-items: center;
}
.user-new-button button {
  border: none;
  background-color: var(--active-text-color);
  color: var(--primary-text-color);
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 1rem;
}
.add {
  font-size: 20px;
}
.ManagerUser-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-top: 1rem;
  border-radius: 16px 16px 0px 0px;
  padding: 1rem;
}
.admin-user {
  /* padding: 1rem; */
}

.delete-icon-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 5rem;
}
.iconsSection-delete button{
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 16px;
  color: #344054;
background: white;
}
