.folderMain_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 28px;
  padding-inline: 24px;
  background-color: #ffffff;
}

.folderDiv {
 width: 100%;
}
.videoImage_wrapper {
  position: relative;
  cursor: pointer;
}
.transparent_play {
  background-color: #2d2d2dbf;
  width: 100%;
  height: 97.2%;
  border: 1px solid #cfcfcf;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
 inset: 0;
  visibility: hidden;
  transition: all 400ms;
}
.videoImage_wrapper:hover .transparent_play {
  visibility: visible;
  cursor: pointer;
}
.transparent_play_botton{
  height:90px;
  width:90px;
}
.videosview_images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  object-fit: cover;
}

.video_time {
  
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 15px;
  background-color: #2e2e2e;
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
}

.folderIcon_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #f2f2f2;
  width: 108px;
  margin-top: 15px;
  padding: 8px 22px;
  border-radius: 8px;
}

.folderContent_wrapper {
  margin-top: 5px;
}

.videosview_name {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding-left: 9px;
}
.videoInfo_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2px;
  padding-left: 9px;
}

.videosSize {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  color: #959595;
}
.videosdate {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  color: #959595;
}
.video_name {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  color: #959595;
}
.videos_piline {
  color: #959595;
}

.videos_piline {
  background-color: #959595;
  height: 15px;
  width: 0.9px;
}

.videos_LineVertical{
  color: #959595;
 
  
}
