.active {
  padding: 10px;
  border: 0px, 0px, 1px, 0px;
  gap: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border-bottom: 1px solid #04a5e8;

  color: var(--primary-color, #04a5e8);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.inactive {
  padding: 10px;
  border: 0px, 0px, 1px, 0px;
  gap: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;

  color: #6d6d6d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.tab-view {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
