.dropdown-container {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;

  font-size: 12px;
  font-weight: 500;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  width: 2rem;
  min-height: unset;
  height: 17px;
  align-content: center;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000000;
}

.dropdown-toggle::after {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  color: #000000; /* Change this to the desired color */
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: -32px;
  z-index: 5;
  background-color: white;
  /* border: 1px solid #000000; */
  border-radius: 8px;
  padding: 8px;
  margin-top: 7px;
  overflow-y: auto;
  width: 150px;
  height: 285px !important;
  box-sizing: border-box;
  color: #0493ce;
  box-shadow: 3px 3px 5px rgba(43, 42, 42, 0.3); /* Add this line */
}

.dropdown-item {
  display: flex;
  padding: 4px 8px;
  cursor: pointer;
  color: var(--input-border-color);
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 1px;
}

.dropdown-item input[type='checkbox'] {
  margin-right: 8px;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border-radius: 6px;
  border: 1px solid #000000;
  margin-bottom: 7px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #ffffff;
}

.dropdown-item input[type='checkbox']:checked {
  background-color: #ffffff;
}

.dropdown-item input[type='checkbox']:checked::before {
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  margin: 3px;
  background-color: #377cf6;
  border-radius: 3px;
}

.drop-icon {
  color: #292929;
  font-weight: 1800;
}

.selected-count {
  background-color: #377cf6;
  color: #ffffff;
  font-weight: 500;
  flex-shrink: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

@media (max-width: 1024px) {
  .selected-count {
    background-color: #377cf6;
    color: #ffffff;
    font-weight: 500;
    border-radius: 50%;
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6px;
  }
}
