.close-btn {
    position: absolute;
    top: 90px;
    border: none;
    right: 410px;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    cursor: pointer;
}

.close-btn:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.videoName{
    color:black;
}