.ar-dropdown-container {
   position: relative;
}

.ar-dropdown-toggle {
  cursor: pointer;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  width: 6rem;
  min-height: unset;
  height: 30px;
  align-content: center;
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ar-dropdown-toggle::after {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.ar-dropdown-menu {
  position: absolute;
  top: 100%;
  left: -77px;
  z-index: 1;
  background-color: white;
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  padding: 8px;
  margin-top: 4px;
  overflow-y: auto;
  width: 176px;
  height: 192px;
  box-sizing: border-box;
}


.ar-dropdown-item {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  line-height: 20px;
  font-weight: 500;
  font-size: 12px;
  gap: 2px;
  margin-bottom: 3.3px;
}

.ar-dropdown-item input[type="checkbox"] {
  margin-right: 8px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid #0493CE;
}

.ar-drop-icon {
  color: rgba(102, 100, 100, 0.4);
  height: 120px;
  width: 20px;
  font-weight: 900;
}

.ar-dashboard-payroll {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}