.ahj_wrapper_list {
  flex-basis: calc(100%);
  border-radius: 8px;
  background-color: #fff;
  max-width: 593px;
  height: auto;
  min-height: 400px;
  padding-bottom: 14px;
}
.ahj-header {
  display: flex;
  justify-content: space-between;
  padding-inline: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.ahj-header p {
  font-size: 14px;
  font-weight: 500;
}
