.banner-main {
  padding: 1rem 0;
  width: 100%;
  /* background-color: #44ADF9; */
  background: linear-gradient(0deg, #215f9a 0%, #44adf9 100%);
  /* background: conic-gradient(red, green, blue, yellow, transparent, red);
    animation: rotate 4s linear infinite;
    animation-delay: 1s; */
  overflow: hidden;
  border-radius: 10px;
  margin-top: 30px;
  position: relative;
}
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.solar-heading {
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
}
.banner-left {
  gap: 1.5rem;
  width: 60vw;
  z-index: 99;
}
.banner-left > object {
  width: 120px;
}

.left-ban-des {
  font-size: 0.8rem;
  line-height: 16px;
  margin-left: 5px;
  color: #fff;
  font-weight: 300;
}
.left-ban-des span {
  font-weight: 500;
  text-transform: uppercase;
}
.straight-line {
  width: 1.5px;
  height: 130px;
  background-color: #d9edfa;
  opacity: 0.3;
  margin-right: 1.5rem;
  z-index: 99;
}
.banner-right {
  width: 40vw;
  z-index: 99;
}
.banner-names {
  line-height: 18px;
  gap: 0.7rem;
}
.owner-heading {
  color: #dedede;
  font-size: 0.7rem;
}
.owner-names {
  color: #fff;
  font-size: 0.9rem;
}
.banner-trophy {
  align-self: flex-end;
  position: absolute;
  right: 0;
  top: -30px;
}
.banner-star-1 {
  position: absolute;
  right: 180px;
  top: 25px;
  animation: spin 3s ease-in-out infinite;
}
.banner-star-2 {
  position: absolute;
  right: 100px;
  top: 3px;
  animation: spin 3s ease-in-out infinite;
}
.banner-star-3 {
  position: absolute;
  right: 150px;
  top: 130px;
  animation: spin 3s ease-in-out infinite;
}
.banner-trophy object {
  width: 220px;
}

.edit-button {
  position: absolute;
  right: 0.8rem;
  bottom: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.4rem 1.5rem;
  outline: none;
  border: none;
  border-radius: 1.5rem;
  background: var(--row-bg-color);
  color: #3b3b3b;
  cursor: pointer;
}
.edit-svg {
  font-size: 1rem;
  height: 16px;
  width: 16px;
}
.radiant-anime {
  position: absolute;
  /* background: radial-gradient(farthest-corner at 50% 100px, transparent 50%, #811EFF 10%, #F21680 30%, #22FEF1 90%); */
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #f35 0%,
    transparent 50%,
    #43e 100%
  );
  opacity: 0.7;
  filter: blur(40px);
  height: 100vh;
  width: 100%;
  overflow: hidden;
  animation: color 4s linear infinite;
}
@keyframes color {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  /* 0% {
    transform: scale(0.5) rotate(0deg);
  }
  50% {
    transform: scale(1) rotate(360deg);
  }
  100% {
    transform: scale(0) rotate(0deg);
  } */
  0% {
    transform: scale(0.5) rotate(0deg);
  }
  20% {
    transform: scale(1) rotate(360deg);
  }
  40% {
    transform: scale(0.5) rotate(360deg);
  }
  60% {
    transform: scale(1) rotate(0deg);
  }
  60% {
    transform: scale(1) rotate(0deg);
  }
  80%,
  100% {
    transform: scale(0) rotate(0deg);
  }
}

@media screen and (max-width: 1200px) {
  .banner-left > object {
    width: 96px;
  }

  .banner-trophy {
    top: auto;
    bottom: 0;
  }

  .banner-trophy object {
    width: 144px;
  }
}
