.support-cont-section {
  display: flex;
  /* width: 1230px; */
  margin-top: 1rem;
  border-radius: 16px;
  background-color: #ffff;
}
.support-container {
  padding: 2rem;
}
.create-input-container-support {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.support-section h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
}
.supportImage {
  margin-top: 3rem;
  padding: 2rem;
  width: 100%;
  height: 207px;
  opacity: 0px;

  /* padding: 2rem; */
}
.supportImage img {
  width: 100%;
}
.create-input-field-support {
  /* width: 290px; */
  width: 50%;
  display: flex;
  display: block;
  padding-top: 0.5rem;
}


.create-input-field-support label {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left; 
  margin-bottom: -5px;
  /* background-color: #0493CE; */
}

.vertical-support {
  border-left: 1px solid #dbdddf;
  height: 450px;
  margin-top: 3rem;
  padding: 1rem;
  /* border: 1px 0px 0px 0px; */
}
.touch-container {
  width: 55%;
  height: "50vh";
  padding: 2rem;
}
.touch-info {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
}
.touch-info p {
font-size: 18px;
font-weight: 600;
line-height: 27px;
text-align: left;

}
.reset-Update-support {
  display: flex;
  /* justify-content: right; */
  /* padding: 1rem; */
  margin-top: 1rem;
}
.reset-Update-support button {
  width: 280px;
  height: 48px;
  font-size: 14px;
  font-weight: 500;
  /* line-height: 11.96px; */
  text-align: center;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #0493ce;
  border-radius: 8px;
}

.file-input-container {
  position: relative;
  border: 1px solid #ced4da; /* Show border */
  border-radius: 8px;
  padding: 5px;
  /* width: 290px; */
  margin-top: 0.1rem;
  height: 39px;
  border-style: dashed;
  border-color: #0493ce;
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.custom-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputLabel p{

font-size: 12px;
font-weight: 400;
/* line-height: 18px; */
text-align: left;

}
.custom-button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  /* Define your button styles */
  /* background:var(--check-color); */
  background-color: #F8F8F8;
  color: #0493ce;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  font-weight: 500;
  line-height: 18px;
  margin-right: 8px;
  /* text-align: left; */
  border: 1px solid #D9D9D9;
}


.file-input-placeholder {
  margin-left: 10px;
  color: #979797;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
}
.rate-input-field label p {
  font-size: 13px;
  font-weight: 500;
  /* line-height: 18px; */
  text-align: left;
  color: #212121;
}

.create-input-field-note-support {
  width: 100%;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  color: #212121;
  padding-top: 0.5rem;
}
.create-input-field-note-support textarea {
  width: 100%;
  border: 1px solid #d0d5dd;
  outline: none;
  padding: 0.5rem;
  font-size: 13px !important;
  border-radius: 0.5rem;
}
