.dropdown-container {
    position: relative;
  }
  
  .dropdown-toggle {
    cursor: pointer;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    width: 6rem;
    min-height: unset;
    height: 30px;
    align-content: center;
    background-color: #ececec;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .dropdown-toggle::after {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: -78px;
    z-index: 5;
    background-color: white;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    padding: 8px;
    margin-top: 4px;
    overflow-y: auto;
    width: 178px;
    height: 225px;
    box-sizing: border-box;
    scrollbar-color: rgb(173, 173, 173) #fff;
    scrollbar-width: thin;
  }

  .dropdown-menu::-webkit-scrollbar {
  width: 8px;
  border-radius: 30px;
}


  
  
  .dropdown-item {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    line-height: 20px;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 1px;
  }
  
  .dropdown-item input[type="checkbox"] {
    margin-right: 8px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid #0493CE;
    margin-bottom: 7px;
  }
  .drop-icon{
    color: rgba(102, 100, 100, 0.4);
    height: 120px;
    width: 20px;
    font-weight: 900;
  }