.comm-dropdown-container {
  position: relative;
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  width: 180px;
  transition: border 0.3s ease;
}
.comm-dropdown-container svg{
  color: var(--input-border-color);
}
.comm-dropdown-container:hover {
  border: 1px solid #377cf6;
}

.comm-dropdown-toggle {
  margin-top: 3px;
  cursor: pointer;
  padding: 4px 12px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  width: 11rem;
  min-height: unset;
  height: 30px;
  align-content: center;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0493ce;
}

.comm-dropdown-toggle::after {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  color: #0493ce; /* Change this to the desired color */
}

.comm-toggle-text {
  color: var(--input-border-color);
  font-size: 12px;
}


.comm-dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 5;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  margin-top: 6px;
  overflow-y: auto;
  width: 180px;
  height: 200px !important;
  box-sizing: border-box;
  color: #000000;
  box-shadow: 5px 5px 5px rgba(43, 42, 42, 0.3);
}

.comm-dropdown-item {
  display: flex;
  padding: 4px 8px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 1px;
  color: #000000;
}

.comm-dropdown-item input[type='checkbox'] {
  margin-right: 8px;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border-radius: 6px;
  border: 1px solid #000000;
  margin-bottom: 7px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #ffffff;
}

.comm-dropdown-item input[type='checkbox']:checked {
  background-color: #ffffff;
}

.comm-dropdown-item input[type='checkbox']:checked::before {
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  margin: 3px;
  background-color: #377cf6;
  border-radius: 3px;
}

.comm-drop-icon {
  color: #0493ce;
  height: 120px;
  width: 20px;
  font-weight: 900;
}

.comm-dashboard-payroll {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.selected-text {
  color: #377cf6;
}

.selected-count {
  background-color: #377cf6;
  color: #ffffff;
  font-weight: 500;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-left: 12px;
}

.comm-dropdown-item:hover {
  background-color: #ddebff;
}

@media screen and (max-width: 767px) {
  .comm-dropdown-container {
    width: 100%;
  }
  .comm-dropdown-toggle {
    width: unset;
  }
  .comm-dropdown-menu {
    width: 100%;
    height: 70vh !important;
  }
}
