.welcomeMainContainer {
  background: #fff;
  position: relative;
}

.welcomeContainer {
  display: flex;
  flex: 1;
  position: relative;
  flex-direction: column;
  overflow-x: hidden;
}

.welcomeBannerView {
  background: url('../../../resources/assets/landingBanner.svg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcomeInnerBannerView {
  margin: 0px 116px;
  position: relative;
  width: 90rem;
}

.welcomeHeaderView {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcomeHeaderView object {
  height: 93px;
  width: 334px;
}

.welcome-left-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  min-width: 400px;
}

.welcome-right-view {
  flex: 1.3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 400px;
}

.welcome-laptop-image {
  animation: slide-out 2s ease forwards;
}

.welcome-logo {
  width: '274px';
  height: '74px';
}

.welcome-text-view {
  align-items: flex-start;
  display: flex;
}

.welcome-text-black {
  color: #000;
  font-family: Poppins;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 150% */
  text-align: left;
  margin-top: 3.2rem;
  position: relative;
  animation: slide-in 2s ease forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.welcome-text-blue {
  color: var(--check-color);
  font-family: Poppins;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}

.welcome-text-green {
  color: var(--green-color);
  font-family: Poppins;
  font-size: 2, 5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.welcome-sub-text {
  color: var(--Gray-1, #333);
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 60px;
  text-transform: capitalize;
}
.welcome-phone-view {
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--primary-color, #04a5e8);
  display: inline-flex;
  height: 42px;
  padding: 1rem;
  margin-bottom: 15px;
}

.welcome-phone-text {
  color: var(--Gray-6, #f2f2f2);
  font-size: 14px;
  font-weight: 500;
  transition: transform 2s; /* Add a transition for smooth flip animation */
  transform-style: preserve-3d;
}

/** Our application view Csss*/

.welcomeApplicationView {
  height: 350px;
  border-radius: 40px 40px 0px 0px;
  background: linear-gradient(180deg, #c2defa 0%, rgba(121, 187, 227, 0) 100%);
  display: flex;
  margin-top: -10px;
  position: relative;
  justify-content: center;
  flex: 1;
}

.welcomeInnerApplicationView {
  margin: 0px 116px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90rem;
}

.welcome-our-text {
  color: #000;
  font-size: 2.1rem;
  padding: 15px;
}

.welcome-main {
  display: flex;
  padding: 0 20px;
}

.welcomeBoxView {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.welcomeAboutUsRightView p {
  margin-bottom: 20px; /* Adjust this value to add more or less space between lines */
}

/** about us view css*/
.welcomeAboutUsContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}
.welcomeAboutUsView {
  display: flex;
  position: relative;
  justify-content: center;
  align-self: center;
  width: 90rem;
  margin: 0px 135px;
}

.welcomeAboutUsLeftView {
  flex: 1;
  display: flex;
  align-items: flex-start;
  position: relative;
}
.welcomeAboutUsRightView {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  position: relative;
  animation: slide-out 2s ease-in-out forwards;
  margin-left: 40px;
  margin-bottom: 38px;
}

@keyframes slide-out {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.welcomeAboutUsText {
  color: #222;
  font-family: Poppins;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
}

.welcomeAboutPara {
  text-align: left;
  min-width: 14rem;
}

.welcomeAboutUsSmall {
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
  z-index: 2; /* Place the top image above the bottom image */
  clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
  top: 50%;
  left: 40%;
  position: absolute;
}

.welcomeAboutUsBig {
  position: relative;
  z-index: 1;
}

/** Welcome work ease view css*/

.welcomeWorkEaseView {
  display: flex;
  margin: 59px 116px;
  flex-direction: column;
}

.welcomeWorkEaseTitle {
  color: #222;
  font-family: Poppins;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 176.471% */
  text-align: center;
}

/***welcome over process csss..............*/

.welcomeOverProcessContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 55px 0px;
}
.welcomeOverProcess {
  display: flex;
  margin: 0px 135px;
  flex-direction: column;
  align-items: flex-start;
  width: 90rem;
}

.welcomeOverProcessTitle {
  color: #222;
  font-family: Poppins;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 176.471% */
}

.welcomeTabView {
  border-width: 0px;
  border-bottom-width: 2px;
  border-bottom-color: #f5f5f5;
  border-style: solid;
  width: 100%;
  align-items: flex-start;
  display: flex;
}

.table-box {
  border-radius: 16px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding: 20px;
  width: 377px;
}

.welcomeRowTitle {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.welcomeRowDescription {
  color: #5a5a5a;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin-top: 10px;
}

.welcomeRowStep {
  color: var(--primary-color, #04a5e8);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.welcomeRowTime {
  color: var(--Secondary-Green, #8fcd00);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/** welcome footer view**/

.welcomeFooterView {
  background: #0e0e0e;
  display: flex;
  flex-direction: column;
}

.welcomeInnerView {
  display: flex;
  flex-direction: column;
}

#welcomeFooterUpperView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

#welcomeWhiteLogo {
  width: 151px;
  height: 37px;
  flex-shrink: 0;
}

#welcomeSocialMedia {
  width: 200px;
  flex-shrink: 0;
  justify-content: space-around;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
#welcomeSocialMedia :hover {
  cursor: pointer;
}

#welcomeContact {
  flex-shrink: 0;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: white;
}

#welcomeContact span {
  color: #ccc;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 20px;
}

.welcomeContactText:hover {
  cursor: pointer;
}

#welcomeFooterLowerView {
  display: flex;
  align-items: center;
  padding: 10px 120px;
}
.landing-table {
  padding-top: 1.5rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
}
.footer-logo {
  width: 0;
}

.footer-text {
  color: #ccc;
  font-size: 12px;
  flex-grow: 1;
  text-align: center;
}

#welcomeUnderLine {
  height: 1px;
  width: 100%;
  background-color: grey;
}

/*Welcome Responsive*/
@media screen and (max-width: 1024px) {
  .welcome-main {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .welcome-text-black {
    text-align: center;
    margin-top: 2.2rem;
  }
  .welcome-our-text {
    text-align: center;
  }
  .welcomeBoxView {
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 70px;
  }
  .boxContainer {
    margin-right: unset !important;
    width: unset !important;
    padding: 25px;
  }
  .welcomeInnerApplicationView {
    margin: unset;
  }
  .welcomeAboutUsContainer {
    margin-top: 5rem;
  }
  .welcomeAboutUsView {
    flex-direction: column-reverse;
    margin: 0 100px;
  }
  .welcomeAboutUsView p {
    text-align: center;
  }
  .welcomeAboutUsRightView {
    align-items: center;
    margin-left: 0;
  }
  .welcomeAboutUsLeftView {
    align-items: center;
  }
  .welcomeAboutUsSmall {
    left: 50%;
  }
  .welcomeWorkEaseView {
    margin: 59px 53px;
    margin-top: 100px;
  }
  #welcomeFooterLowerView {
    padding: 5px 30px;
  }
  .welcomeOverProcess {
    padding-left: 100px;
  }
  .landing-table {
    overflow-x: scroll;
    width: 100vw;
    padding-right: 100px;
  }
  .welcomeInnerBannerView {
    margin: 0 35px;
  }
  .welcomeBannerView {
    background-position: 94%;
  }
  .welcomeHeaderView object {
    width: 300px;
  }
  .welcomeOverProcessContainer {
    margin: 0;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .welcome-text-black {
    font-size: 1.5rem;
    line-height: 0;
    font-weight: 700;
  }
  .welcome-text-blue {
    font-size: 1.5rem;
    line-height: 1.1;
    font-weight: 700;
  }
  .welcome-text-green {
    font-weight: 700;
    line-height: 1.8;
  }
  .welcomeAboutUsBig {
    width: calc(100% - 30px);
  }
  .welcomeOverProcess {
    margin-inline: 0;
  }
  .welcomeAboutUsSmall {
    width: 50%;
    right: 0;
    left: auto;
    top: auto;
    bottom: -20%;
  }
  .welcomeHeaderView object {
    width: 138px;
  }
  .welcomeHeaderView {
    padding-inline: 1rem;
  }
  .welcomeBoxView {
    grid-template-columns: 1fr;
    padding-inline: 44px;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(3, 135px) !important;
    gap: 6px !important;
  }
  .welcomeWorkEaseTitle {
    font-size: 1.5rem;
    line-height: 1.1;
  }
  .grid-container > div:nth-child(2) {
    grid-column: 2/3 !important;
  }
  .grid-container > div:last-child {
    grid-column: 2/3;
  }
  .welcomeWorkEaseView {
    margin: 0;
    margin-top: 100px;
    padding-inline: 16px;
  }
  .boxContainer {
    min-height: 200px;
    height: auto !important;
    padding: 1rem;
  }

  .welcomeAboutUsView {
    height: auto;
    margin: 0;
    padding-inline: 12px;
  }
  .welcome-phone-view {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
  }
  .welcome-phone-text {
    display: none;
  }
  .welcome-sub-text {
    font-size: 20px;
  }
  .welcome-left-view {
    justify-content: center;
  }
  .welcome-text-blue {
  }
  .welcomeOverProcess {
    width: 100%;
    padding-left: 0;
    margin-top: 26px;
    padding-inline: 12px;
  }
  .welcomeInnerBannerView {
    width: 100%;
  }
  #welcomeContact {
    justify-content: center;
    gap: 10px;
  }
  .footer-logo {
    width: auto;
  }
  .footer-text {
    font-size: 10px;
  }
  #welcomeFooterLowerView {
    padding: 5px 10px;
  }
  #welcomeContact span {
    font-size: 11px;
    margin-right: 0;
  }
}
