.loginButton,
.cancel {
  /* height: 3rem; */
  flex-shrink: 0;
  background-color: #0493ce;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 11.962px; /* 85.446% */
  cursor: pointer;
  padding: 0px 46px 0px 46px;
  height: 40px;
  text-transform: capitalize;
}
.loginButton:hover {
  background-color: #0493ce;
}
.cancel {
  border: 1px solid #0493ce;
  color: #000000;
  background-color: transparent !important;
}

.add_view_button {
  display: flex;
  background-color: #0493ce;
  padding: 10px;
  border-radius: 10px;
  gap: 5px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.add_view_button button {
  background-color: transparent !important;
  border: none;
  color: white;
}
