.loginButton,.cancel {
  height: 3rem;
  flex-shrink: 0;
  background-color: #0493ce;
  border: none;
  border-radius: 1rem;
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 11.962px; /* 85.446% */
  min-width: 260px;
  cursor: pointer;
  text-transform: capitalize;
}
.cancel{
  border:1px solid #0493ce;
  color:black;
  background-color: transparent !important;
 
}

